

<div  class="col-sm-6">

    <section class="title"><p>card details</p></section>

    <div class="form-group" [ngClass]="{'has-danger': formAddress.get('email').invalid && formAddress.get('email').touched}">
        <label for="number"><p>cartd number</p></label>
        <input class="form-control" type="number" id="card_number" name="number" formControlName="email">
        
    </div>

    <section class="postal_code_and_city">

        <div class="form-group_split" [ngClass]="{'has-danger': formAddress.get('email').invalid && formAddress.get('email').touched}">
            <label for="month"><p>month</p></label>
            <input class="form-control posatl_and_city" type="number" id="month" name="month" formControlName="card_month">
            
        </div>

        <div class="form-group_split" [ngClass]="{'has-danger': formAddress.get('email').invalid && formAddress.get('email').touched}">
            <label for="year"><p>year</p></label>
            <input  min="1" max="4" class="form-control posatl_and_city" type="number" id="year" name="year" formControlName="card_year">
            
        </div>

    </section>

    <div class="form-group" [ngClass]="{'has-danger': formAddress.get('email').invalid && formAddress.get('email').touched}">
        <label for="cardholder's_name"><p>cardholder's name</p></label>
        <input class="form-control" type="text" id="cardholder's_name" name="cardholder's_name" formControlName="cardholder's_name">
        
    </div>

    <div class="form-group" [ngClass]="{'has-danger': formAddress.get('email').invalid && formAddress.get('email').touched}">
        <label for="security_code"><p>security code</p></label>
        <input class="form-control" type="number" id="security_code" name="security_code" formControlName="security_code">
        
    </div>

</div>