<div class="content">
    <div class="main-title">
        <p>checkout</p>
    </div>

    <app-checkout-address [ngClass]="{'d-none': activeStep !== 0}"></app-checkout-address>
    <app-checkout-shipping [ngClass]="{'d-none': activeStep !== 1}"></app-checkout-shipping>
    <app-checkout-payment [ngClass]="{'d-none': activeStep !== 2}"></app-checkout-payment>
    <app-payment-method [ngClass]="{'d-none': activeStep !== 3}"></app-payment-method>
    <app-checkout-review [ngClass]="{'d-none': activeStep !== 4}"></app-checkout-review>
    <app-checkout-sidebar></app-checkout-sidebar>

</div>