@import '~scss/common';
@import '~scss/components/radio_button_checkout.scss';
.content {
    width: calc(335/375)*100%;
    margin: 86px auto 0px auto;
    display: block !important;
}

.main-title {
    width: 100%;
    text-align: center;
    p {
        @extend %title_txt;
        padding: 0px 0px 100px 0px;
        text-decoration-line: line-through;
    }
}

input:focus {
    outline: none;
}

@media screen and (min-width: 768px) {
    .content {
        width: calc(1154/1441)*100%;
        margin: 169px auto 0px auto;
    }
}

.title {
    p {
        text-decoration-line: none;
        @extend %default_text;
        padding: 50px 0px 0px 0px;
    }
}

app-checkout-review {
    width: 100%;
}