    @import '~scss/common';
    @import 'radio_button_style.scss';

.content {
    width: 335/375*100%;
    margin: 86px auto 0px auto;


}


@media screen and (min-width: 768px) {
    .content {
        width: 1154/1441*100%;
        margin: 169px auto 0px auto;
    }
}

.title {
    p {
        text-decoration-line: none;
        @extend %basik_txt;
        padding: 50px 0px 0px 0px;
    }
}

app-checkout-review {
    width: 100%;
}
