%default_text {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    line-height: 22px;
}

%header_txt {
    font-size: 22px;
    font-weight: 600;
    color: #000000;
    line-height: 22px;
}

%info_txt {
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    line-height: 22px;
}

%title_txt {
    font-size: 36px;
    font-weight: 600;
    color: #000000;
    line-height: 22px;
    text-decoration-line: none;
}