<div class="info-main-container">
    kek
    <!--
    <section class="title">
        <h2>about</h2>
    </section>

    <div class="lang_selected_content">

        <input (click)="toggleLanguage()" id="en" class="radio_checked_en" type="radio" name="lang" checked>

        <label id="en_lang" for="en" class="radio_lable_en">
            <p>en</p>
        </label>



        <input (click)="toggleLanguage()" id="ru" class="radio_checked_ru" type="radio" name="lang">

        <label id="ru_lang" for="ru" class="radio_lable_ru">
            <p>ru</p>
        </label>

    </div>



    <section>

        <div class="shipping_txt_block_content">

            <h2>{{!langRu ? "Does grbpwr ship internationally?": "Имеется ли международная доставка?"}}</h2>

            <p>{{!langRu ? "Yes! If you live there, we ship there.": "Да! Доставим куда угодно."}}</p>

        </div>


        <div class="shipping_txt_block_content">

            <h2>{{!langRu ? "How long does shipping take?": "Как долго длится доставка?"}}</h2>

            <p>{{!langRu ? "It all depends on time of year and where you’re based but here are some rough shipping times:": "Все зависит от времени года и вашего местонахождения, но вот примерные сроки доставки:"}}</p>

        </div>


        <div class="shipping_txt_block_content">

            <div class="shipping_line_txt">

                <h2>RU/BY/UA: <span>{{!langRu ? "3-5 Working Days.": "3-5 рабочих дней."}}</span></h2>

            </div>

            <div class="shipping_line_txt">

                <h2>{{!langRu ? "Rest of World:": "Остальной мир:"}} <span>{{!langRu ? "5-7 Working Days (please allow additional time for import and duty).": "5-7 рабочих дней (+ дополнительное время для импорта и пошлин)."}}</span> </h2>

            </div>

        </div>


        <div class="shipping_txt_block_content">

            <p>{{!langRu ? "Please note these are guidelines and not exact times, each case may differ.": "Обратите внимание, что это примерное время, а не точное, в каждом случае оно может быть разным."}}</p>

        </div>


        <div class="shipping_txt_block_content">

            <h2>{{!langRu ? "How much does shipping cost?": "Сколько стоит отправка?"}}</h2>

            <p>{{!langRu ? "Shipping cost varies depending on the weight of the parcel and the final destination. The exact cost will be calculated at checkout. However, as a guideline for average sized orders:": "Стоимость доставки варьируется в зависимости
                от веса посылки и конечного пункта назначения. Точная стоимость будет рассчитана при оформлении заказа. Однако в качестве ориентира для заказов среднего размера:"}}</p>

        </div>


        <div class="shipping_txt_block_content">

            <div class="shipping_line_txt">

                <h2>RU/BY/UA: <span>{{!langRu ? "15 USD": "15 долларов США."}}</span></h2>

            </div>

            <div class="shipping_line_txt">
                <h2>{{!langRu ? "Rest of World:": "Остальной мир:"}} <span>{{!langRu ? "15 USD": "1 долларов США."}}</span></h2>
            </div>

        </div>


        <div class="shipping_txt_block_content">

            <p>{{!langRu ? "All RU/BY/UA orders are sent via CDEK International orders are sent by the best tracked service offered by Belpost dependent on the delivery country. You will receive your tracking number as soon as the parcel has left our facility.":
                "Все заказы RU / BY / UA отправляются через cdek Международные заказы отправляются лучшей отслеживаемой службой, предлагаемой Белпочтой, в зависимости от страны доставки. Вы получите свой номер для отслеживания, как только посылка покинет
                наш офис"}}</p>

        </div>


        <div class="shipping_txt_block_content">

            <h2>{{!langRu ? "Will I have to pay import fees/customs duties on my order?": "Придется ли мне платить импортные пошлины / таможенные пошлины по моему заказу?"}}</h2>

            <p>{{!langRu ? "Unfortunately, we cannot guarantee that orders outside the RU/BY/UA will not be subject to import fees enforced by your local government. All local taxes and customs charges are the responsibility of the customer/recipient.Unfortunately,
                we cannot guarantee that orders outside the RU/BY/UA will not be subject to import fees enforced by your local government. All local taxes and customs charges are the responsibility of the customer/recipient.": "К сожалению, мы не можем
                гарантировать, что заказы за пределами RU / BY / UA не будут облагаться импортными сборами, установленными вашим местным правительством. все местные налоги и таможенные сборы оплачиваются покупателем / получателем."}}</p>

        </div>
    </section>




    <section class="section_next_button">

        <a href="/">
            <h2>continue shopping</h2>
        </a>

        <a href="">
            <h2>go to archieve</h2>
        </a>

    </section> -->
</div>