// radio button style
.radio_label {
    p {
        @extend %default_text;
        text-decoration-line: none;
        cursor: pointer;
    }
}

.radio {
    opacity: 0;
    position: absolute;
    left: -220px;
}

// .radio_checked:checked~.radio_label {
//     p {
//         text-decoration: underline;
//     }
// }
// .radio_checked:not(:checked)~.radio_label {
//     p {
//         text-decoration: none;
//     }
// }
// input[type="checkbox"]~.radio_label {
//     // Unchecked Styles
//     p {
//         text-decoration: none;
//     }
// }
// input[type="checkbox"]:checked~.radio_label {
//     p {
//         text-decoration: underline;
//     }
// }
.radio:checked+.radio_label {
    p {
        text-decoration: underline;
    }
}