// radio button style
.radio_lable_ru {
    p {
        @extend %default_text;
        text-decoration-line: none;
        cursor: pointer;
    }
}

.radio_lable_en {
    p {
        @extend %default_text;
        text-decoration-line: none;
        cursor: pointer;
    }
}

.radio_checked_en {
    opacity: 0;
    position: absolute;
    left: -220px;
}

.radio_checked_ru {
    opacity: 0;
    position: absolute;
    left: -220px;
}

.radio_checked_en:checked~.radio_lable_en {
    p {
        text-decoration: underline;
    }
}

.radio_checked_ru:checked~.radio_lable_ru {
    p {
        text-decoration: underline;
    }
}