<div class="info-main-container">
    <h2>contact us</h2>
    <section class="input_and_email">
        <p>e-mail</p>
        <input class="input" type="e-mail" name="">
    </section>
    <section class="input_and_message">
        <p>message</p>
        <textarea class="input" type="e-mail" name=""></textarea>
    </section>
    <div class="submit_and_line">
        <figure class="line"></figure>
        <p><a href="/">submit</a></p>
    </div>
    <section class="social_link">
        <p>
            <a target="_blank" rel="noopener noreferrer" href="mailto:jekabolt@yahoo.com">e-mail</a>
        </p>
        <p>
            <a target="_blank" rel="noopener noreferrer" href="https://t.me/jekabolt">telegram</a>
        </p>
        <p>
            <a target="_blank" rel="noopener noreferrer" href="https://instagram.com/jkbgm">instagram</a>
        </p>
    </section>
</div>