<div class="content"> 

    <section class="title"><p>contact us</p></section>

    <section class="input_and_email">

        <h1>e-mail</h1>

        <input type="e-mail" name="">
        
    </section>


    <section class="input_and_message">

        <h1>masssage</h1>

        <input type="e-mail" name="">
        
    </section>

    <div class="submit_and_line">

        <figure class="line"></figure>

        <h2>submit</h2>

    </div>

    <section class="social_link">

        <h1>e-mail</h1>
        <h1>telegram</h1>
        <h1>instagram</h1>
        
    </section>

    
</div>
