<div class="info-main-container">
    <h2>contact us</h2>
    <section class="input_and_email">
        <p>e-mail</p>
        <input class="input" type="e-mail" name="">
    </section>
    <section class="input_and_message">
        <p>message</p>
        <textarea class="input" type="e-mail" name=""></textarea>
    </section>
    <div class="submit_and_line">
        <figure class="line"></figure>
        <p>submit</p>
    </div>
    <section class="social_link">
        <p>e-mail</p>
        <p>telegram</p>
        <p>instagram</p>
    </section>
</div>