<div class="main-container">
    <div class="holds-the-iframe">
        <iframe frameborder="0" controls="false" loop="true" class="clip" [src]="urlSafe" onload=""></iframe>
        <div class="animation-on-load"></div>
    </div>
    <section class="go-to-archive">
        <figure class="line"></figure>
        <a routerLink="/archive">
            <p>go to archive</p>
        </a>
    </section>
    <section class="product-container">
        <div class="product" *ngFor="let product of products">
                <a routerLink="/products/{{ product.id }}" href="">
                    <img class="product-img" src="{{ product.mainImage }}" alt="{{ product.name }}">
                </a>
                <a routerLink="/products/{{ product.id }}" href="">
                    <p>{{ product.name }}</p>
                </a>
                <a routerLink="/products/{{ product.id }}" href="">
                    <h2>${{ product.price.usd }}</h2>
                </a>
        </div>
    </section>
</div>
<app-footer></app-footer>