@import "../../../scss/common.scss";


.content {
    width: 335/375*100%;
    display: flex;
    flex-direction: column;
    margin: 130px auto 0px auto;
    .product_name {
        padding: 0px 0px 50px 0px;
    }
    .clip {
        min-width: 100%;
        display: flex;
        padding: 0px 0px 10px 0px;
        background-color: #000000;
    }
    .go_to_archive {
        width: 100%;
        padding: 0px 0px 58px 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .line {
            display: flex;
            width: 206/335*100%;
            height: 1px;
            background-color: #000000;
        }
        h2 {
            @extend %basik_txt;
            text-decoration-line: none;
        }
    }
    .product_content {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
        .product_place {
            display: flex;
            flex-direction: column;
            padding: 0px 0px 72px 0px;
            .product_img {
                min-width: 42%;
                height: 42vw;
                background-color: #ddd;
            }
            p {
                padding: 20px 0px 0px 0px;
                @extend %info_txt;
            }
            h2 {
                padding: 7px 0px 0px 0px;
                @extend %basik_txt;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .content {
        max-width: 950/1441*100%;
        margin: 140px 0px 0px 294px;
        .clip {
            min-width: 80%;
            margin: 0px 0px 30px 0px;
        }
        .product_content {
            grid-template-columns: 1fr 1fr 1fr;
            grid-row-gap: 28px;
        }
        .product_img {
            height: 19vw !important;
        }
        .go_to_archive {
            .line {
                width: 784/950  *100%;
            }
        }
    }
}