<!-- <app-main-slider [items]="productsFeatured"></app-main-slider> -->

<!-- Product Widgets-->
<!-- //TODO: -->
<!-- <section class="container padding-bottom-2x padding-top-3x">
    <div>
        <div class="col-lg-1">
            <app-product-widget [widgetTitle]="'NEW'" [products]="productsNewArrivals"></app-product-widget>
        </div>
    </div>
</section>

<app-promo *ngIf="promos" [promo]="promos[0]"></app-promo> -->

<!-- Services-->
<!-- <section class="container padding-top-3x padding-bottom-2x">

</section> -->

<div class="content">


    <!-- <video class="clip" src="">
        <source src="//player.vimeo.com/video/521417674">
    </video> -->

    <iframe frameborder="0"   controls="falce" class="clip" src="//player.vimeo.com/video/521417674?autoplay=true&controls=falce&loop=true">
       
    </iframe>


    <section class="go_to_archive">

        <figure class="line"></figure>

        <a routerLink="/archive">
            <h2>go to archive</h2>
        </a>

    </section>


    <section class="product_content">



        <div class="product_place">

            <a routerLink="/products/1" href="">
                <section class="product_img"></section>
            </a>

            <a href="">
                <p>scarf souls</p>
            </a>

            <h2>170$</h2>

        </div>

        <div class="product_place">

            <a routerLink="/products/1" href="">
                <section class="product_img"></section>
            </a>

            <a routerLink="/products/1" href="">
                <p>scarf souls</p>
            </a>

            <h2>170$</h2>

        </div>

        <div class="product_place">

            <a routerLink="/products/1" href="">
                <section class="product_img"></section>
            </a>

            <a routerLink="/products/1" href="">
                <p>scarf souls</p>
            </a>

            <h2>170$</h2>

        </div>

        <div class="product_place">

            <a routerLink="/products/1" href="">
                <section class="product_img"></section>
            </a>

            <a routerLink="/products/1" href="">
                <p>scarf souls</p>
            </a>

            <h2>170$</h2>

        </div>



    </section>




</div>

<footer class="footer">
    <section class="info_and_currency">
            <div class="currency">
                <input (click)="toggleCurrencyUSD()" class="currency_input currency_usd" checked id="usd" name="currency" type="radio">
                <label class="currency_label currency_usd" for="usd"><p>usd</p></label>

                <input  (click)="toggleCurrencyBYN()" class="currency_input currency_byn" id="byn" name="currency" type="radio">
                <label class="currency_label currency_byn" for="byn"><p>byn</p></label>

                <input  (click)="toggleCurrencyRUB()" class="currency_input currency_rub" id="rub" name="currency" type="radio">
                <label class="currency_label currency_rub" for="rub"><p>rub</p></label>

                <input  (click)="toggleCurrencyEUR()" class="currency_input currency_eur" id="eur" name="currency" type="radio">
                <label class="currency_label currency_eur" for="eur"><p>eur</p></label>
            </div>
            <nav class="info_list">
                <a routerLink="/about" href="">
                    <p>about</p>
                </a>
    
                <a routerLink="/contact-us" href="">
                    <p>contact us</p>
                </a>
    
                <a routerLink="/shipping-method" href="">
                    <p>shipping</p>
                </a>
    
                <a routerLink="/returns" href="">
                    <p>returns</p>
                </a>
    
                <a routerLink="/privacy-policy" href="">
                    <p>privacy policy</p>
                </a>
    
            </nav>
    </section>
    <section class="legal_info">
        <div class="left_info">
            <p>
                ИП Комар Ева Андреевна<br>
                Юр. адрес: 224000, Брестская область, г.Брест<br>
                ул.Суворова, д. 112<br>
                УНП: 291555594<br>
            </p>
        </div>
        <div class="right_info">
            <p>
                Свидетельство о регистрации 0750946 от 02.12.2019 
                Регистрирующий орган: Администрация Московского района г.Бреста
            </p>
        </div>
    </section>
    <div class="icon_legal_info">
        <img class="icon" src="/img/bank-logo.png">
        
        
    </div>
</footer> 

