.content {
	.shipping_lang_ru {
		display: none;
		h1{
			@extend %info_txt;
			text-decoration-line: none;
		}
		h2{
			@extend %basik_txt;
			text-decoration-line: none;
		}

		.shipping_txt_block_content {
			padding: 40px 0px 0px 0px;

			&:last-child {
				padding: 40px 0px 40px 0px;
			}

			span{
			@extend %info_txt;
			text-decoration-line: none;
			}
		}
	}

	.active_lang {
			display: block;
		}
	.disactive_lang {
			display: none;
		}

	.shipping_lang_en {
		h1{
			@extend %info_txt;
			text-decoration-line: none;
		}
		h2{
			@extend %basik_txt;
			text-decoration-line: none;
		}

		.shipping_txt_block_content {
			padding: 40px 0px 0px 0px;

			&:last-child {
				padding: 40px 0px 40px 0px;
			}

			span{
			@extend %info_txt;
			text-decoration-line: none;
			}
		}


	}
}