<section class="title"><p>shipping method</p></section>
<hr class="padding-bottom-1x">
<form [formGroup]="formShipping">
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-default">
            </thead>
                    <tbody>
                        
                        <tr *ngFor="let shippingMethod of shippingMethods">
                            <section class="shipping_method_content">

                                <div class="fee_time_method">
                                <td class="align-middle"><p>{{shippingMethod.fee | currency}}</p></td>
                                <td class="align-middle"><p>{{shippingMethod.time}}</p></td>
                                <td class="align-middle"><p>{{shippingMethod.method}}</p></td>
                                </div>

                            <div class="align-middle">
                                <input checked id="{{shippingMethod.method}}" class="form-control-radio" type="radio" name="shippingMethod" value="{{shippingMethod.value}}" formControlName="shippingMethod">
                                <label for="{{shippingMethod.method}}" class="custom-control">
                                    <p class="yes">yes</p>
                                    <p class="no">no</p>
                                </label>
                                 
                            </div>
                        </section>
                        </tr>
                    </tbody>
        </table>
    </div>
</form>

