@import '~scss/common';
@import 'radio_button_style.scss';
p {
    text-decoration-line: none;
    padding: 0px 5px 0px 5px;
}

.title {
    p {
        text-decoration-line: none;
        @extend %default_text;
        padding: 50px 0px 0px 0px;
    }
}


input:focus {
    outline: none;
}

.shipping_method_content {
    width: 100%;
    height: 46px;
    border: solid #000 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px 0px 0px;
    .fee_time_method {
        display: flex;
        align-items: center;
    }
    .align-middle {
        .custom-control {
            display: flex;
            flex-direction: row;
            cursor: pointer;
            .no {
                text-decoration: underline;
            }
        }
        .form-control-radio {
            @extend %null_radio;
        }
        .form-control-radio:checked~.custom-control {
            .yes {
                text-decoration: underline;
            }
            .no {
                text-decoration: none;
            }
        }
    }
}

tr {
    width: 100%;
}

.table {
    width: 100%;
}