<div class="content">

    <section class="title">
        <h1>returns</h1>
    </section>

    <div class="lang_selected_content">

        <input (click)="toggleLanguage()" id="en" class="radio_about_checked_en" type="radio" name="lang" checked>

        <label id="en_lang_about" for="en" class="radio_about_lable_en">
            <h1>en</h1>
        </label>

        <input (click)="toggleLanguage()" id="ru" class="radio_about_checked_ru" type="radio" name="lang">

        <label id="ru_lang_about" for="ru" class="radio_about_lable_ru">
            <h1>ru</h1>
        </label>

    </div>

    <section class="en_lang_returns_txt">
        <h1>
            {{!langRu ? "Exchange / return of goods of inadequate quality is carried out within 7 days from the date of receipt of the goods by the buyer.": "Обмен/возврат товара ненадлежащего качества осуществляется в течение 7 дней с момента получения товара покупателем."}}
        </h1>

        <h1>
            {{!langRu ? "In case of exchange / return of goods of inadequate quality, delivery is paid by the online store. Refunds after the sale of the seller within 3 working days to the counter of which the payment was made.": "В случае обмена/возврата товара
            ненадлежащего качества, доставка оплачивается интернет-магазином. Возврат средств происходит после получения товара продавцом в течение 3 рабочих дней на счет, с которого была произведена оплата."}}
        </h1>

        <h1>
            {{!langRu ? "Exchange / return of goods of good quality is carried out within 7 days from the date of receipt of the goods by the buyer.": "Обмен/возврат товара надлежащего качества осуществляется в течение 7 дней с момента получения товара покупателем."}}
        </h1>

        <h1>
            {{!langRu ? "In case of exchange / return of goods of good quality, delivery is paid by the buyer. Refunds occur after the seller receives the goods within 5 working days to the account from which the payment was made.": "В случае обмена/возврата товара
            надлежащего качества, доставка оплачивается покупателем. Возврат средств происходит после получения товара продавцом в течение 5 рабочих дней на счет, с которого была произведена оплата."}}
        </h1>
    </section>

</div>