<div class="info-content">

    <section class="title">
        <p>returns</p>
    </section>

    <div class="lang_selected_content">

        <input (click)="toggleLanguage()" id="en" class="radio_checked_en" type="radio" name="lang" checked>

        <label id="en_lang" for="en" class="radio_lable_en">
            <p>en</p>
        </label>



        <input (click)="toggleLanguage()" id="ru" class="radio_checked_ru" type="radio" name="lang">

        <label id="ru_lang" for="ru" class="radio_lable_ru">
            <p>ru</p>
        </label>

    </div>

    <section>
        <p>
            {{!langRu ? "Exchange / return of goods of inadequate quality is carried out within 7 days from the date of receipt of the goods by the buyer.": "Обмен/возврат товара ненадлежащего качества осуществляется в течение 7 дней с момента получения товара покупателем."}}
        </p>

        <p>
            {{!langRu ? "In case of exchange / return of goods of inadequate quality, delivery is paid by the online store. Refunds after the sale of the seller within 3 working days to the counter of which the payment was made.": "В случае обмена/возврата товара
            ненадлежащего качества, доставка оплачивается интернет-магазином. Возврат средств происходит после получения товара продавцом в течение 3 рабочих дней на счет, с которого была произведена оплата."}}
        </p>

        <p>
            {{!langRu ? "Exchange / return of goods of good quality is carried out within 7 days from the date of receipt of the goods by the buyer.": "Обмен/возврат товара надлежащего качества осуществляется в течение 7 дней с момента получения товара покупателем."}}
        </p>

        <p>
            {{!langRu ? "In case of exchange / return of goods of good quality, delivery is paid by the buyer. Refunds occur after the seller receives the goods within 5 working days to the account from which the payment was made.": "В случае обмена/возврата товара
            надлежащего качества, доставка оплачивается покупателем. Возврат средств происходит после получения товара продавцом в течение 5 рабочих дней на счет, с которого была произведена оплата."}}
        </p>
    </section>

</div>