<footer class="footer">
    <section class="info_and_currency">
        <nav class="info_list">

            <a routerLink="/contact-us" href="">
                <p>contact us</p>
            </a>

            <a routerLink="/shipping-method" href="">
                <p>shipping</p>
            </a>

            <a routerLink="/returns" href="">
                <p>returns</p>
            </a>

            <a routerLink="/privacy-policy" href="">
                <p>privacy policy</p>
            </a>

        </nav>

    </section>

    <div class="currency">
        <input (click)="updateCurrency('usd')" id="usd" class="radio" type="radio" name="currency">
        <label class="radio_label" id="usd_currency" for="usd">
                  <p>usd</p>
            </label>

        <input (click)="updateCurrency('eur')" id="eur" class="radio" type="radio" name="currency">
        <label class="radio_label" id="eur_currency" for="eur">
                <p>eur</p>
            </label>

        <input (click)="updateCurrency('rub')" id="rub" class="radio" type="radio" name="currency">
        <label class="radio_label" id="rub_currency" for="rub">
                <p>rub</p>
            </label>
    </div>


    <div class="icon_legal_info">
        <img class="icon" src="/img/Alfa-Bank_logo_black_horiz_rus_RGB-01.svg">
        <img class="icon" src="/img/Apple_Pay_Mark_RGB_041619.svg">
        <img class="icon" src="/img/mc_hrz_pos.svg">
        <img class="icon" src="/img/SamsungPay_RGB_BLK_Horizontal.svg">
        <img class="icon" src="/img/vbm_blk01_rgb.svg">
        <img class="icon" src="/img/visa-secure-blk_RGB.svg">
    </div>
</footer>