<section class="content_404">
    <img class="logo" src="/img/grb-logo.svg">
    <p class="line1">404</p>
    <p class="line2">sorry, the page cannot be found</p>
    <p class="line3">It may have been removed, changed or is temporarily unavailable.</p>
    <div class="next_link">
        <a routerLink="/products" href="">
            <p class="line4">continue shopping</p>
        </a>
        <a routerLink="/archive" href="">
            <p class="line5">go to archive</p>
        </a>
    </div>

</section>