@import "../../scss/common.scss";
.content_404 {
    padding: 41px 0px 0px 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    p {
        text-align: center;
        @extend %basik_txt;
        text-decoration-line: none;
        &:nth-child(2) {
            padding: 177px 0px 0px 0px;
        }
        &:nth-child(4) {
            @extend %info_txt;
            padding: 55px 0px 0px 0px;
        }
    }
    .next_link {
        margin: 77px 0px 0px 0px;
        a {
            p {
                    text-decoration-line: line-through;
                }
                
            }
            &:last-child {
                padding: 10px 0px 0px 0px;
            }
        }
    }
   



@media screen and (min-width: 768px) {
    .content_404 {
        p {
            &:nth-child(3) {
                width: 411px;
            }
        }
    }
}