@import "null_style.scss";


%basik_txt {
	font-size: 20px;
	font-weight: 600;
	color: #000000;
	line-height: 22px;
}

%header_txt {
	font-size: 22px;
	font-weight: 600;
	color: #000000;
	line-height: 22px;
}

%title_txt {
	font-size: 36px;
	font-weight: 600;
	color: #000000;
	line-height: 22px;
	text-decoration-line: none;
}

%info_txt {
	font-size: 18px;
	font-weight: 400;
	color: #000000;
	line-height: 22px;
}

.content {

	.nothing {
		width: 100%;
		height: 100%;
		display: none;
		justify-content: center;
		align-items: center;
		h1 {
			@extend %info_txt;
			text-decoration-line: none;
		}
	}

	.cart_content {
		margin: 50px 0px 0px 0px;
		width: 100%;
		height: 198px;
		display: flex;
		flex-direction: column;}


		.remove {
			width: 100%;
			align-items: center;
			justify-content: space-between;
			display: flex;
			padding: 20px 0px 0px 0px;

			.line_remove {
				width: 270/335*100%;
				height: 1px;
				background-color: #000;
				
				}


			h1 {
				@extend %info_txt;
				text-decoration-line: none;

				}
		}
	
		.cart_img_and_content {
			display: flex;

			.card_contents {
				display: flex;
				flex-direction: column;

				.price {
					padding: 52px 0px 0px 10px;
						h1 {
							@extend %basik_txt;
							text-decoration-line: none;
						}
				}


				.product_name_and_size {
					padding: 0px 0px 0px 10px;

					width: 155px;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;

					h2 {
							@extend %basik_txt;
							text-decoration-line: none;
						}

					.name {
						display: flex;
						flex-direction: row;

						h1 {
							@extend %info_txt;
							text-decoration-line: none;
						}


				
					}
				}

				.number_product {
						padding: 52px 0px 0px 10px;

						margin: 0px auto 0px auto;

						width: 72px;
						display: flex;
						justify-content: space-between;

						h1 {
							@extend %info_txt;
							text-decoration-line: none;
						}

						h2 {
							@extend %info_txt;
							text-decoration-line: none;
						}
					}
			}	

			.card_img {
				min-width: 170px;
				height: 170px;
				background-color: #c4c4c4;
			}
	}

	.total_cart {
		margin: 222px 93px 50px 0px;
		display: flex;
		align-items: flex-end;
		.line_checkout{
			width: 191/335*100%;
			height: 1px;
			background-color: #000;
		}
		.total_and_checkout{
			h1{
				@extend %basik_txt;
				text-decoration-line: none;
				&:last-child{
					font-size: 28px;
				}
				&:first-child{
					@extend %info_txt;
				}
			}
		}
		
	}

}

@media screen and (min-width: 768px) {

.content {
	.total_cart{
		width: 100%;
		margin: 222px 0px 50px 0px;
		.line_checkout{
			width: 646/903*100%;
			height: 1px;
			background-color: #000;
		}
		.total_and_checkout{
			text-align: right;
		}
	}
	
}
}