<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="style.css">
	<meta charset="utf-8">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
	<acronym>
<header class="header">
	
	<h1 id="menu_btn">menu</h1>

	<a href="index.html"><img class="logo" src="logo/grb-logo.svg"></a>

	<acronym class="desktop_list_cart_and_sum">
		<a href="cart.html"><h1>cart</h1></a>
		<div class="sum_cart"><h1>$0.00</h1></div>
	</acronym>

</header>

<header id="side_bar" class="side_bar_nav">
	<div id="bg" class="bg_side_bar"></div>
	<nav class="side_bar_nav_list">
		<h1 id="menu_btn_hide" class="side_bar_btn">menu</h1>
		<a href="list_product_page_tops.html"><h1>tops</h1></a>
		<a href="list_product_page_bottoms.html"><h1>bottoms</h1></a>
		<a href="list_product_page_accessories.html"><h1>accessories</h1></a>
		<a href="list_product_page_bags.html"><h1>bags</h1></a>
		<a href="list_product_page_boots.html"><h1>boots</h1></a>
		<a href="list_product_page_skirts.html"><h1>skirts</h1></a>

		<a href=""><h1 class="desktop_arch">archive</h1></a>
		
		<acronym class="info_and_line">
			<figure id="info_line" class="info_line"></figure>
			<h1 id="desktop_inf" class="desktop_inf">info</h1>
		</acronym>
	</nav>
	<nav id="side_bar_info" class="side_bar_info_list">
		<a href="about_page.html"><h1>about</h1></a>
		<a href="contact_us_page.html"><h1>contact us</h1></a>
		<a href="shipping_page.html"><h1>shipping</h1></a>
		<a href=""><h1>returns</h1></a>
		<a href=""><h1>privacy policy</h1></a>
	</nav>
</header>	</acronym>

		<div class="content">
			<section class="main"><h2>checkout</h2></section>

			<section class="input_content">
				<h2>contact information</h2>
				<h1>e-mail</h1>
				<div>
					<input id="" class="_input" type="email" name=""></div>
				<div>

				<div class="send_updates_checked_block">

					<h1>send me updates</h1>

					<div class="radio_block">

						<input class="input_radio_yes" id="yes" type="radio" name="send_up" checked>

						<label class="radio_update_yes" for="yes"><h1>yes</h1></label>

						<input class="input_radio_no" id="no" type="radio" name="send_up">

						<label class="radio_update_no" for="no"><h1>no</h1></label>

					</div>

				</div>
			
			</section>

			<section class="input_content">
				<h2>shipping adress</h2>
				<h1>first name</h1>
				<div><input id="" class="_input" type="name" name=""></div>

				<h1>last name</h1>

				<div><input id="" class="_input" type="name" name=""></div>

				<acronym>
					<h1>postal code</h1>
					<div><input id="" class="_input" type="postal" name=""></div>
					<h1>city</h1>
					<div><input id="" class="_input" type="city" name=""></div>
				</acronym>

				<h1>adress</h1>
				<div><input id="" class="_input" type="adress" name=""></div>	


				<h1>appartment/suite</h1>
				<div><input id="" class="_input" type="appartment" name=""></div>	


				<h1>country</h1>
				<div><input id="" class="_input" type="country" name=""></div>


				<h1>phone</h1>
				<div><input id="" class="_input" type="phone" name=""></div>	
				
			</section>


			<section class="shipping_method">

				<h2>shipping method</h2>

				<div><input id="" class="_input" type="name" name=""></div>
				<div><input id="" class="_input" type="name" name=""></div>	


			</section>


			<section class="payment_method">

				<h2>payment method</h2>

			<div class="payment_method_block">

				<input class="payment_met_radio_card" id="card"  type="radio" name="payment_met" checked>

				<label for="card" class="pay_met_conten_card"><h1>card payment</h1></label>

				<input class="payment_met_radio_bit" id="bit"  type="radio" name="payment_met">

				<label for="bit" class="pay_met_conten_bit"><h1>bitcoin</h1></label>

				<input class="payment_met_radio_apple" id="apple"  type="radio" name="payment_met">

				<label for="apple" class="pay_met_conten_apple" class=""><h1>apple pay</h1></label>

			</div>

			</section>


			<section class="card_details">

				<h2>card details</h2>

				<h1>card number</h1>

				<div><input id="" class="_input" type="card" name=""></div>

					<div class="month_year_block">

						<div>

							<h1>month</h1>

							<div><input id="" class="_input" type="month" name=""></div>

						</div>

						<div>

							<h1>year</h1>

							<div><input id="" class="_input" type="year" name=""></div>

						</div>

					</div>

						<h1>cardholder’s name</h1>	

						<div><input id="" class="_input" type="name" name=""></div>

						<h1>security code</h1>

						<div><input id="" class="securi_code_input" type="code" name=""></div>

			</section>

			<section class="order_sum">

				<h2>order summary</h2>

				<div>
				
<div class="cart_content">
			<article class="cart_img_and_content">
				<div class="card_img"></div>
				<div class="card_contents">
					<div class="product_name_and_size">
						<div class="name"><h1>Scarf cropped</h1></div>
						<div class="card_size"><h2>(s)</h2></div>
					</div>
					<div class="number_product">
						<h2>-</h2>
						<h1>1</h1>
						<h2>+</h2>
					</div>
					<div class="price"><h1>170$</h1></div>
					<h1></h1>
				</div>
			</article>
			<article class="remove">
				<figure class="line_remove"></figure>
				<h1>remove</h1>
			</article>
</div>
<div class="cart_content">
			<article class="cart_img_and_content">
				<div class="card_img"></div>
				<div class="card_contents">
					<div class="product_name_and_size">
						<div class="name"><h1>Scarf cropped</h1></div>
						<div class="card_size"><h2>(s)</h2></div>
					</div>
					<div class="number_product">
						<h2>-</h2>
						<h1>1</h1>
						<h2>+</h2>
					</div>
					<div class="price"><h1>170$</h1></div>
					<h1></h1>
				</div>
			</article>
			<article class="remove">
				<figure class="line_remove"></figure>
				<h1>remove</h1>
			</article>
</div>
				</div>

				<section class="subtotal">

					<div class="subtotal_content">
						
						<h1>subtotal:</h1>

						<h1>380 USD</h1>

					</div>

					<div class="subtotal_content">

						<h1>shipping total:</h1>

						<h1>3 USD</h1>
						
					</div>

				</section>

				<div class="order">

					<h1>order total</h1>

					<h1>383 USD</h1>
					
				</div>

				<div class="place_oreder">

					<figure class="line"></figure>
					<h1>place order</h1>

				</div>

			</section>

		</div>

 	<script type="text/javascript" src="js/sideBarScript.js"></script>
</body>
</html>