<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="style.css">
	<meta charset="utf-8">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
	<div>
<header class="header">
	
	<h1 id="menu_btn">menu</h1>

	<a href="index.html"><img class="logo" src="logo/grb-logo.svg"></a>

	<div class="desktop_list_cart_and_sum">
		<a href="cart.html"><h1>cart</h1></a>
		<div class="sum_cart"><h1>$0.00</h1></div>
	</div>

</header>

<header id="side_bar" class="side_bar_nav">
	<div id="bg" class="bg_side_bar"></div>
	<nav class="side_bar_nav_list">
		<h1 id="menu_btn_hide" class="side_bar_btn">menu</h1>
		<a href="list_product_page_tops.html"><h1>tops</h1></a>
		<a href="list_product_page_bottoms.html"><h1>bottoms</h1></a>
		<a href="list_product_page_accessories.html"><h1>accessories</h1></a>
		<a href="list_product_page_bags.html"><h1>bags</h1></a>
		<a href="list_product_page_boots.html"><h1>boots</h1></a>
		<a href="list_product_page_skirts.html"><h1>skirts</h1></a>

		<a href=""><h1 class="desktop_arch">archive</h1></a>
		
		<div class="info_and_line">
			<figure id="info_line" class="info_line"></figure>
			<h1 id="desktop_inf" class="desktop_inf">info</h1>
		</div>
	</nav>
	<nav id="side_bar_info" class="side_bar_info_list">
		<a href="about_page.html"><h1>about</h1></a>
		<a href="contact_us_page.html"><h1>contact us</h1></a>
		<a href="shipping_page.html"><h1>shipping</h1></a>
		<a href=""><h1>returns</h1></a>
		<a href=""><h1>privacy policy</h1></a>
	</nav>
</header>	</div>
	
	<div class="content">

		<iframe autoplay src="https://player.vimeo.com/video/521417674" class="clip"> 
		</iframe>

		<!-- <video loop="true" muted="" class="clip" autoplay>
			<source src="video/main.mp4">
		</video> -->

		<section class="go_to_archive">

			<figure class="line"></figure>

			<h2>go to archive</h2>

		</section>


		<section class="product_content">

			

			<div class="product_place">

				<a href="item_addet.html">
					<section class="product_img"></section>
				</a>

				<a href="item_addet.html"><h1>scarf souls</h1></a>

				<h2>170$</h2>

			</div>

			<div class="product_place">

				<a href="item_addet.html">
					<section class="product_img"></section>
				</a>

				<a href="item_addet.html"><h1>scarf souls</h1></a>

				<h2>170$</h2>

			</div>

			<div class="product_place">

				<a href="item_addet.html">
					<section class="product_img"></section>
				</a>

				<a href="item_addet.html"><h1>scarf souls</h1></a>

				<h2>170$</h2>

			</div>

			<div class="product_place">

				<a href="item_addet.html">
					<section class="product_img"></section>
				</a>

				<a href="item_addet.html"><h1>scarf souls</h1></a>

				<h2>170$</h2>

			</div>



		</section>

		


	</div>

	</div>

	<script type="text/javascript" src="js/sideBarScript.js"></script>
	<script type="text/javascript" src="js/desktop_info_open.js"></script>
</body>
</html>