<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="style.css">
	<meta charset="utf-8">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
</head>
<body>
	<acronym>
<header class="header">
	
	<h1 id="menu_btn">menu</h1>

	<a href="index.html"><img class="logo" src="logo/grb-logo.svg"></a>

	<acronym class="desktop_list_cart_and_sum">
		<a href="cart.html"><h1>cart</h1></a>
		<div class="sum_cart"><h1>$0.00</h1></div>
	</acronym>

</header>

<header id="side_bar" class="side_bar_nav">
	<div id="bg" class="bg_side_bar"></div>
	<nav class="side_bar_nav_list">
		<h1 id="menu_btn_hide" class="side_bar_btn">menu</h1>
		<a href="list_product_page_tops.html"><h1>tops</h1></a>
		<a href="list_product_page_bottoms.html"><h1>bottoms</h1></a>
		<a href="list_product_page_accessories.html"><h1>accessories</h1></a>
		<a href="list_product_page_bags.html"><h1>bags</h1></a>
		<a href="list_product_page_boots.html"><h1>boots</h1></a>
		<a href="list_product_page_skirts.html"><h1>skirts</h1></a>

		<a href=""><h1 class="desktop_arch">archive</h1></a>
		
		<acronym class="info_and_line">
			<figure id="info_line" class="info_line"></figure>
			<h1 id="desktop_inf" class="desktop_inf">info</h1>
		</acronym>
	</nav>
	<nav id="side_bar_info" class="side_bar_info_list">
		<a href="about_page.html"><h1>about</h1></a>
		<a href="contact_us_page.html"><h1>contact us</h1></a>
		<a href="shipping_page.html"><h1>shipping</h1></a>
		<a href=""><h1>returns</h1></a>
		<a href=""><h1>privacy policy</h1></a>
	</nav>
</header>	</acronym>

	<div class="content">


		<div class="single_product_content_desktop">


			<section>

				<div class="product_img"></div>

				<section class="img_slider_content">

					<div class="product_img_desktop_small"></div>

					<div class="product_img_desktop_small"></div>

					<div class="product_img_desktop_small"></div>

				</section>

			</section>

			<div class="description_desktop">

				<div class="product_description_single_page">
					<h1>Scarf sous cropped</h1>
					<h2>170$</h2>
				</div>

				<div class="size">
					<h1>s</h1>
					<h1>m</h1>
					<h1>l</h1>
				</div>

				<div class="add_to_card"><h1>Add to card</h1></div>

				<div class="details"><h1  id="details">Details</h1></div>

				<aside id="details_content" class="details_content">
					<h1>-100% Garment Dyed Portuguese Linen<br>
					-Portuguese Linen <br>
					-Washed Olive Colour <br>
					-Made in Belarus</h1>
				</aside>

			</div>

		</div>
	</div>


	<script type="text/javascript" src="js/sideBarScript.js"></script>
	<script type="text/javascript" src="js/desktop_info_open.js"></script>
	<script  src="js/details.js"></script>
</body>
</html>