<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="style.css">
	<meta charset="utf-8">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div>
<header class="header">
	
	<h1 id="menu_btn">menu</h1>

	<a href="index.html"><img class="logo" src="logo/grb-logo.svg"></a>

	<div class="desktop_list_cart_and_sum">
		<a href="cart.html"><h1>cart</h1></a>
		<div class="sum_cart"><h1>$0.00</h1></div>
	</div>

</header>

<header id="side_bar" class="side_bar_nav">
	<div id="bg" class="bg_side_bar"></div>
	<nav class="side_bar_nav_list">
		<h1 id="menu_btn_hide" class="side_bar_btn">menu</h1>
		<a href="list_product_page_tops.html"><h1>tops</h1></a>
		<a href="list_product_page_bottoms.html"><h1>bottoms</h1></a>
		<a href="list_product_page_accessories.html"><h1>accessories</h1></a>
		<a href="list_product_page_bags.html"><h1>bags</h1></a>
		<a href="list_product_page_boots.html"><h1>boots</h1></a>
		<a href="list_product_page_skirts.html"><h1>skirts</h1></a>

		<a href=""><h1 class="desktop_arch">archive</h1></a>
		
		<acronym class="info_and_line">
			<figure id="info_line" class="info_line"></figure>
			<h1 id="desktop_inf" class="desktop_inf">info</h1>
		</acronym>
	</nav>
	<nav id="side_bar_info" class="side_bar_info_list">
		<a href="about_page.html"><h1>about</h1></a>
		<a href="contact_us_page.html"><h1>contact us</h1></a>
		<a href="shipping_page.html"><h1>shipping</h1></a>
		<a href=""><h1>returns</h1></a>
		<a href=""><h1>privacy policy</h1></a>
	</nav>
</header>    </div>

    <div class="content">

		<section class="title">
			<h1>returns</h1>
		</section>

		<div class="lang_switch"><div class="lang_selected_content">

			<input id="en" class="radio_about_checked_en" type="radio" name="lang" checked>

			<label id="en_lang_about" for="en" class="radio_about_lable_en">
				<h1>en</h1>
			</label>

			<input id="ru" class="radio_about_checked_ru" type="radio" name="lang">

			<label id="ru_lang_about" for="ru" class="radio_about_lable_ru">
				<h1>ru</h1>
			</label>

</div></div>

		<section class="en_lang_returns_txt">
			<h1>
                Обмен/возврат товара ненадлежащего  качества осуществляется в течение  7 дней с момента получения товара  покупателем.
			</h1>

            <h1>
                В случае обмена/возврата товара  ненадлежащего качества, доставка  оплачивается интернет-магазином.
                Возврат средств происходит после  получения товара продавцом в течение  3 рабочих дней на счет, с которого была  произведена оплата.
            </h1>
            
            <h1>
                Обмен/возврат товара надлежащего  качества осуществляется в течение  7 дней с момента получения товара  покупателем.
            </h1>

            <h1>
                В случае обмена/возврата товара  надлежащего качества, доставка  оплачивается покупателем.
                Возврат средств происходит после  получения товара продавцом в течение  5 рабочих дней на счет, с которого была  произведена оплата.
            </h1>
		</section>

		<section class="ru_lang_returns_txt">
			<h1>
                Обмен/возврат товара ненадлежащего  качества осуществляется в течение  7 дней с момента получения товара  покупателем.
			</h1>

            <h1>
                В случае обмена/возврата товара  ненадлежащего качества, доставка  оплачивается интернет-магазином.
                Возврат средств происходит после  получения товара продавцом в течение  3 рабочих дней на счет, с которого была  произведена оплата.
            </h1>
            
            <h1>
                Обмен/возврат товара надлежащего  качества осуществляется в течение  7 дней с момента получения товара  покупателем.
            </h1>

            <h1>
                В случае обмена/возврата товара  надлежащего качества, доставка  оплачивается покупателем.
                Возврат средств происходит после  получения товара продавцом в течение  5 рабочих дней на счет, с которого была  произведена оплата.
            </h1>
		</section>


    
</body>
</html>