.content {
    width: 335/375*100%;
    padding: 0px 0px 20px 0px;
	.title {
		width: 100%;
		text-align: left;
		h1 {
			@extend %title_txt;
			font-size: 36px;
		}
	}

    .lang_switch {
        width: 100%;
    }

    .en_lang_returns_txt {
        h1 {
            @extend %info_txt;  
            text-decoration-line: none;
            padding: 5px 0px 5px 0px;
        }
    }
    .ru_lang_returns_txt {
        display: none;
        h1 {
            @extend %info_txt;
            text-decoration-line: none;
            padding: 5px 0px 5px 0px;
        }
    }
}