<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="style.css">
	<meta charset="utf-8">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
	<acronym>
<header class="header">
	
	<h1 id="menu_btn">menu</h1>

	<a href="index.html"><img class="logo" src="logo/grb-logo.svg"></a>

	<acronym class="desktop_list_cart_and_sum">
		<a href="cart.html"><h1>cart</h1></a>
		<div class="sum_cart"><h1>$0.00</h1></div>
	</acronym>

</header>

<header id="side_bar" class="side_bar_nav">
	<div id="bg" class="bg_side_bar"></div>
	<nav class="side_bar_nav_list">
		<h1 id="menu_btn_hide" class="side_bar_btn">menu</h1>
		<a href="list_product_page_tops.html"><h1>tops</h1></a>
		<a href="list_product_page_bottoms.html"><h1>bottoms</h1></a>
		<a href="list_product_page_accessories.html"><h1>accessories</h1></a>
		<a href="list_product_page_bags.html"><h1>bags</h1></a>
		<a href="list_product_page_boots.html"><h1>boots</h1></a>
		<a href="list_product_page_skirts.html"><h1>skirts</h1></a>

		<a href=""><h1 class="desktop_arch">archive</h1></a>
		
		<acronym class="info_and_line">
			<figure id="info_line" class="info_line"></figure>
			<h1 id="desktop_inf" class="desktop_inf">info</h1>
		</acronym>
	</nav>
	<nav id="side_bar_info" class="side_bar_info_list">
		<a href="about_page.html"><h1>about</h1></a>
		<a href="contact_us_page.html"><h1>contact us</h1></a>
		<a href="shipping_page.html"><h1>shipping</h1></a>
		<a href=""><h1>returns</h1></a>
		<a href=""><h1>privacy policy</h1></a>
	</nav>
</header>	</acronym>

	<section class="content">
		
		<div class="title">
			
			<h2>shipping</h2>

		</div>

<div class="lang_selected_content">

			<input id="en" class="radio_about_checked_en" type="radio" name="lang" checked>

			<label id="en_lang_shipping" for="en" class="radio_about_lable_en">
				<h1>en</h1>
			</label>

			<input id="ru" class="radio_about_checked_ru" type="radio" name="lang">

			<label id="ru_lang_shipping" for="ru" class="radio_about_lable_ru">
				<h1>ru</h1>
			</label>

</div>

		<section id="shipping_en" class="shipping_lang_en">


			<div class="shipping_txt_block_content">

				<h2>Does grbpwr ship internationally?</h2>

				<h1>Yes! If you live there, we ship there.</h1>
				
			</div>


			<div class="shipping_txt_block_content">

				<h2>How long does shipping take?</h2>

				<h1>It all depends on time of year and where you’re based but here are some rough shipping times:</h1>
				
			</div>


			<div class="shipping_txt_block_content">

				<acronym class="shipping_line_txt">

					<h2>RU/BY/UA: <span>3-5 Working Days.</span></h2>

				</acronym>

					<acronym class="shipping_line_txt">

					<h2>Rest of World: <span>5-7 Working Days (please allow additional time for import and duty).</span></h2>

				</acronym>

			</div>


			<div class="shipping_txt_block_content">

				<h1>Please note these are guidelines and not exact times, each case may differ.</h1>
				
			</div>


			<div class="shipping_txt_block_content">

				<h2>How much does shipping cost?</h2>

				<h1>Shipping cost varies depending on the weight of the parcel and the final destination. The exact cost will be calculated at checkout. However, as a guideline for average sized orders:</h1>
				
			</div>


			<div class="shipping_txt_block_content">

				<acronym class="shipping_line_txt">

					<h2>RU/BY/UA: <span>15 USD</span></h2>

				</acronym>

					<acronym class="shipping_line_txt">

					<h2>Rest of World: <span>15 USD</span></h2>

				</acronym>

			</div>


			<div class="shipping_txt_block_content">

					<h1>All RU/BY/UA orders are sent via cdek  International orders are sent by the best tracked service offered by Belpost dependent on the delivery country. You will receive your tracking number as soon as the parcel has left our facility.</h1>

			</div>


			<div class="shipping_txt_block_content">

					<h2>Will I have to pay import fees/customs duties on my order?</h2>

					<h1>Unfortunately, we cannot guarantee that orders outside the RU/BY/UA will not be subject to import fees enforced by your local government.
					All local taxes and customs charges are the responsibility of the customer/recipient.</h1>

			</div>


		</section>











		<section id="shipping_ru" class="shipping_lang_ru">


			<div class="shipping_txt_block_content">

				<h2>Имеется ли международная доставка?</h2>

				<h1>Да! Доставим куда угодно.</h1>
				
			</div>


			<div class="shipping_txt_block_content">

				<h2>Как долго длится доставка?</h2>

				<h1>Все зависит от времени года и вашего местонахождения, но вот примерные сроки доставки:</h1>
				
			</div>


			<div class="shipping_txt_block_content">

				<acronym class="shipping_line_txt">

					<h2>RU/BY/UA: <span>3-5 рабочих дней.</span></h2>

				</acronym>

					<acronym class="shipping_line_txt">

					<h2>Остальной мир: <span>5-7 рабочих дней (+ дополнительное время для импорта и пошлин).</span></h2>

				</acronym>

			</div>


			<div class="shipping_txt_block_content">

				<h1>Обратите внимание, что это примерное время, а не точное, в каждом случае оно может быть разным.</h1>
				
			</div>


			<div class="shipping_txt_block_content">

				<h2>Сколько стоит отправка?</h2>

				<h1>Стоимость доставки варьируется в зависимости от веса посылки и конечного пункта назначения. Точная стоимость будет рассчитана при оформлении заказа. Однако в качестве ориентира для заказов среднего размера:</h1>
				
			</div>


			<div class="shipping_txt_block_content">

				<acronym class="shipping_line_txt">

					<h2>RU/BY/UA: <span>5 долларов США.</span></h2>

				</acronym>

					<acronym class="shipping_line_txt">

					<h2>Остальной мир: <span>15 долларов США</span></h2>

				</acronym>

			</div>


			<div class="shipping_txt_block_content">

				<acronym class="shipping_line_txt">

					<h1>Все заказы RU / BY / UA отправляются через cdek Международные заказы отправляются лучшей отслеживаемой службой, предлагаемой Белпочтой,
					в зависимости от страны доставки. Вы получите свой номер для отслеживания, как только посылка покинет наш офис</h1>

				</acronym>

			<div class="shipping_txt_block_content">

					<h2>Придется ли мне платить импортные пошлины / таможенные пошлины
					по моему заказу?</h2>

					<h1>К сожалению, мы не можем гарантировать, что заказы за пределами RU / BY / UA не будут облагаться импортными сборами, установленными вашим местным правительством.
					все местные налоги и таможенные сборы оплачиваются покупателем / получателем.</h1>
			</div>


		</section>




	</section>

	<script type="text/javascript" src="js/sideBarScript.js"></script>
	<script type="text/javascript" src="js/lang_change.js"></script>
</body>
</html>