* {
  padding: 0;
  margin: 0px;
  border: 0px;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

.side_bar_nav {
  width: 265px;
  height: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99;
}

.side_bar_nav_list {
  margin: 27px 0px 0px 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
  height: auto;
}
.side_bar_nav_list h1 {
  cursor: pointer;
  line-height: 27px;
}
.side_bar_nav_list .side_bar_btn {
  padding-bottom: 13px;
  font-size: 22px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.side_bar_nav_list .desktop_inf {
  display: none;
}
.side_bar_nav_list .desktop_inf h1 {
  cursor: pointer;
}
.side_bar_nav_list .desktop_arch {
  display: none;
}
.side_bar_nav_list .info_and_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.side_bar_nav_list .info_and_line .info_line {
  width: 36px;
  height: 1px;
  background-color: #000;
  margin: 20px 5px 0px 0px;
  display: none;
}

.side_bar_info_list {
  margin: 250px 0px 0px 30px;
}
.active_side_bar {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.active_side_bar .bg_side_bar {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.bg_side_bar {
  position: absolute;
  left: 265px;
  width: 100vw;
  height: 100%;
  background-color: #000;
  opacity: 0.7;
  z-index: 97;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

@media screen and (min-width: 768px) {
  .side_bar_nav {
    width: 380px;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    position: relative;
    margin: 0px;
    padding: 0px;
  }
  .side_bar_nav .bg_side_bar {
    display: none;
  }
  .side_bar_nav .side_bar_btn {
    display: none;
  }
  .side_bar_nav .desktop_inf {
    display: block;
    padding: 20px 0px 0px 0px;
  }
  .side_bar_nav .active_inf {
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
  }
  .side_bar_nav .desktop_arch {
    display: block;
    padding: 20px 0px 0px 0px;
  }

  .side_bar_nav_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px 0px 0px 160px;
    padding: 22px 0px 0px 0px;
  }
  .side_bar_nav_list .info_and_line .active_line {
    display: block;
  }

  .side_bar_info_list {
    opacity: 0;
    -webkit-transform: translateX(-120%);
            transform: translateX(-120%);
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px 0px 0px 160px;
  }

  .active_info {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
  }
}
.logo {
  width: 30px;
}

.header {
  z-index: 98;
  position: fixed;
  width: 100%;
  top: 0;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
}
.header .desktop_list_cart_and_sum .sum_cart {
  display: none;
}
.header h1 {
  cursor: pointer;
}
.header h1:first-child {
  padding: 0px 0px 0px 20px;
}
.header h1:last-child {
  padding: 0px 20px 0px 0px;
}
@media screen and (min-width: 768px) {
  .logo {
    width: 90px;
    padding: 0px 0px 27px 0px;
  }

  .header {
    position: relative;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    height: auto;
    padding: 41px 0px 0px 160px;
  }
  .header .desktop_list_cart_and_sum {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header .desktop_list_cart_and_sum .sum_cart {
    display: block;
    padding: 0px 0px 0px 45px;
  }
  .header #menu_btn {
    display: none;
  }
  .header .sum_cart {
    display: block;
  }
}
.content .product_name {
  margin: 0px auto 83px auto;
}
.content .view_all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 64px 0px 16px 0px;
}
.content .view_all h1 {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.content .view_all .line_remove {
  width: 160px;
  height: 1px;
  background-color: #000;
}
@media screen and (min-width: 768px) {
  .content .product_name {
    margin: 0px 0px 0px 0px;
  }
  .content .view_all {
    width: 903px;
  }
  .content .view_all .line_remove {
    width: 160px;
    height: 1px;
    background-color: #000;
  }
}

.content .single_product_content_desktop .product_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  height: 335px;
  background-color: #c4c4c4;
}
.content .single_product_content_desktop .img_slider_content {
  width: 518px;
  margin: 26px 0px 0px 0px;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content .single_product_content_desktop .img_slider_content .product_img_desktop_small {
  width: 149px;
  height: 148px;
  background-color: #c4c4c4;
}
.content .single_product_content_desktop .product_description_single_page {
  padding: 20px 0px 0px 0px;
  width: 335px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content .single_product_content_desktop .product_description_single_page h1 {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.content .single_product_content_desktop .product_description_single_page h2 {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.content .single_product_content_desktop .size {
  padding: 90px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content .single_product_content_desktop .add_to_card {
  padding: 61px 0px 0px 0px;
  text-align: right;
}
.content .single_product_content_desktop .add_to_card h1 {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.content .single_product_content_desktop .details {
  padding: 101px 0px 14px 0px;
  cursor: pointer;
}
.content .single_product_content_desktop .details h1 {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.content .single_product_content_desktop .details_content {
  padding: 0px 0px 20px 0px;
  display: none;
}
.content .single_product_content_desktop .details_content h1 {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.content .single_product_content_desktop .active_details {
  display: block;
}

@media screen and (min-width: 768px) {
  .content .single_product_content_desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .content .single_product_content_desktop .product_img {
    width: 518px;
    height: 518px;
  }
  .content .single_product_content_desktop .img_slider_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .content .description_desktop {
    margin: 0px 0px 0px 20px;
  }
  .content .description_desktop .product_description_single_page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px;
  }
  .content .description_desktop .product_description_single_page h1 {
    padding: 0px 0px 10px 0px;
  }
  .content .description_desktop .details_content {
    display: block;
    padding: 46px 0px 0px 0px;
  }
  .content .description_desktop .size {
    padding: 363px 0px 0px 0px;
  }
  .content .description_desktop .details {
    padding: 14px 0px 0px 0px;
  }
  .content .description_desktop .add_to_card {
    padding: 61px 0px 0px 0px;
  }
}
.content {
  max-width: 335px;
}
.content .cart_content {
  margin: 50px 0px 0px 0px;
  max-width: 335px;
  height: 198px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.content .remove {
  width: 335px;
  text-align: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.content .remove .line_remove {
  width: 270px;
  height: 1px;
  background-color: #000;
}
.content .remove h1 {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.content .cart_img_and_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.content .cart_img_and_content .card_contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.content .cart_img_and_content .card_contents .price {
  padding: 52px 0px 0px 10px;
}
.content .cart_img_and_content .card_contents .price h1 {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.content .cart_img_and_content .card_contents .product_name_and_size {
  padding: 0px 0px 0px 10px;
  width: 155px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content .cart_img_and_content .card_contents .product_name_and_size h2 {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.content .cart_img_and_content .card_contents .product_name_and_size .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.content .cart_img_and_content .card_contents .product_name_and_size .name h1 {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.content .cart_img_and_content .card_contents .number_product {
  padding: 52px 0px 0px 10px;
  width: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content .cart_img_and_content .card_contents .number_product h1 {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.content .cart_img_and_content .card_contents .number_product h2 {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.content .cart_img_and_content .card_img {
  min-width: 170px;
  height: 170px;
  background-color: #c4c4c4;
}
.content .total_cart {
  background-color: #fff;
  text-align: right;
  padding: 20px 0px 20px 0px;
}
.content .total_cart h1 {
  text-decoration: none;
}
.payment_met_radio_apple, .payment_met_radio_bit, .payment_met_radio_card, .input_radio_yes, .input_radio_no {
  position: absolute;
  left: -200px;
  opacity: 0;
}

.radio_update_no {
  cursor: pointer;
}

.radio_update_yes {
  cursor: pointer;
}

.input_radio_no:checked ~ .radio_update_no h1 {
  text-decoration: underline;
}

.input_radio_yes:checked ~ .radio_update_yes h1 {
  text-decoration: underline;
}

.pay_met_conten_card {
  cursor: pointer;
}

.pay_met_conten_bit {
  cursor: pointer;
}

.pay_met_conten_apple {
  cursor: pointer;
}

.payment_met_radio_card:checked ~ .pay_met_conten_card h1 {
  text-decoration: underline;
}

.payment_met_radio_bit:checked ~ .pay_met_conten_bit h1 {
  text-decoration: underline;
}

.payment_met_radio_apple:checked ~ .pay_met_conten_apple h1 {
  text-decoration: underline;
}

input {
  border: solid #000 1px;
  width: 327px;
  height: 46px;
}
input:invalid {
  border: solid #ff0000 1px;
}

.send_updates_checked_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 335px;
}
.send_updates_checked_block .radio_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60px;
  height: 20px;
}

.main h2 {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 0px 50px 0px;
}

.input_content h2 {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  padding: 42px 0px 0px 0px;
}
.input_content h1 {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  padding: 24px 0px 24px 0px;
}

.shipping_method h2 {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  padding: 42px 0px 0px 0px;
}
.shipping_method h1 {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  padding: 24px 0px 24px 0px;
}

.payment_method h2 {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  padding: 24px 0px 24px 0px;
}
.payment_method input {
  width: 15px;
}
.payment_method .payment_method_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.payment_method h1 {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  padding: 24px 0px 24px 0px;
}

.card_details .securi_code_input {
  width: 138px;
}
.card_details .month_year_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card_details .month_year_block input {
  width: 138px;
}
.card_details h2 {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  padding: 42px 0px 0px 0px;
}
.card_details h1 {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  padding: 24px 0px 24px 0px;
}

.order_sum > h2:first-child {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  padding: 54px 0px 0px 0px;
}
.order_sum .order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.order_sum .order h2 {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  padding: 42px 0px 0px 0px;
}
.order_sum .order h1 {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  padding: 24px 0px 24px 0px;
}
.order_sum .subtotal {
  padding: 24px 0px 0px 0px;
}
.order_sum .subtotal .subtotal_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.order_sum .subtotal .subtotal_content:last-child {
  border-bottom: solid #000 1px;
}
.order_sum .subtotal h2 {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  padding: 42px 0px 0px 0px;
}
.order_sum .subtotal h1 {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  padding: 0px 0px 14px 0px;
}

.place_oreder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.place_oreder .line {
  width: 200px;
  height: 1px;
  background-color: #000;
}
.place_oreder h1 {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.section_seccess_txt h2 {
  padding: 0px 0px 19px 0px;
}
.section_seccess_txt h1 {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  padding: 0px 0px 32px 0px;
}

.section_next_button {
  padding: 60px 0px 61px 0px;
}
.section_next_button h2 {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.section_next_button h2:first-child {
  padding: 0px 0px 22px 0px;
}

.content .lang_selected_content {
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 29px 0px 20px 0px;
}
.content .ru_lang_about_txt {
  display: none;
}
.content .ru_lang_about_txt h1 {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.content .active_lang {
  display: block;
}
.content .disactive_lang {
  display: none;
}
.content .en_lang_about_txt h1 {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  padding: 0px 0px 20px 0px;
}

.radio_about_lable_ru h1 {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  cursor: pointer;
}

.radio_about_lable_en h1 {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  cursor: pointer;
}

.radio_about_checked_en {
  opacity: 0;
  position: relative;
  left: -220px;
}

.radio_about_checked_ru {
  opacity: 0;
  position: relative;
  left: -220px;
}

.radio_about_checked_en:checked ~ .radio_about_lable_en h1 {
  text-decoration: underline;
}

.radio_about_checked_ru:checked ~ .radio_about_lable_ru h1 {
  text-decoration: underline;
}

.content .input_and_email {
  padding: 56px 0px 0px 0px;
}
.content .input_and_email h1 {
  padding: 0px 0px 5px 0px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.content .input_and_email input {
  width: 335px;
  height: 27px;
}
.content .input_and_message {
  padding: 27px 0px 0px 0px;
}
.content .input_and_message h1 {
  padding: 0px 0px 5px 0px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.content .input_and_message input {
  width: 335px;
  height: 150px;
}
.content > h2 {
  padding: 55px 0px 0px 0px;
  cursor: pointer;
}
.content .social_link {
  padding: 81px 0px 0px 0px;
}
.content .social_link h1 {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  padding: 0px 0px 12px 0px;
  cursor: pointer;
}

.content .shipping_lang_ru {
  display: none;
}
.content .shipping_lang_ru h1 {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.content .shipping_lang_ru h2 {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.content .shipping_lang_ru .shipping_txt_block_content {
  padding: 40px 0px 0px 0px;
}
.content .shipping_lang_ru .shipping_txt_block_content:last-child {
  padding: 40px 0px 40px 0px;
}
.content .shipping_lang_ru .shipping_txt_block_content span {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.content .active_lang {
  display: block;
}
.content .disactive_lang {
  display: none;
}
.content .shipping_lang_en h1 {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.content .shipping_lang_en h2 {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.content .shipping_lang_en .shipping_txt_block_content {
  padding: 40px 0px 0px 0px;
}
.content .shipping_lang_en .shipping_txt_block_content:last-child {
  padding: 40px 0px 40px 0px;
}
.content .shipping_lang_en .shipping_txt_block_content span {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

body .content .product_content .product_place h2, body .content .go_to_archive h2, .side_bar_nav_list h1, .content .product_name, .content .view_all h1, .content .single_product_content_desktop .size h1, .content .single_product_content_desktop .add_to_card h1, .content .single_product_content_desktop .details h1, .content .remove h1, .content .cart_img_and_content .card_contents .price h1, .content .cart_img_and_content .card_contents .product_name_and_size h2, .content .total_cart h1 span, .input_content h2, .shipping_method h2, .payment_method h2, .card_details h2, .order_sum > h2:first-child, .order_sum .order h2, .order_sum .subtotal h2, .place_oreder h1, .section_seccess_txt h2, .section_next_button h2, .content .title h2, .radio_about_lable_ru h1, .radio_about_lable_en h1, .content .title h1, .content > h2, .content .shipping_lang_ru h2, .content .shipping_lang_en h2 {
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  line-height: 22px;
}

.header h1, .content .single_product_content_desktop .product_description_single_page h2 {
  font-size: 22px;
  font-weight: 600;
  color: #000000;
  line-height: 22px;
}

body .content .product_content .product_place h1, .side_bar_info_list h1, .content .single_product_content_desktop .product_description_single_page h1, .content .single_product_content_desktop .details_content h1, .content .cart_img_and_content .card_contents .product_name_and_size .name h1, .content .cart_img_and_content .card_contents .number_product h1, .content .cart_img_and_content .card_contents .number_product h2, .content .total_cart h1, .input_content h1, .shipping_method h1, .payment_method h1, .card_details h1, .order_sum .order h1, .order_sum .subtotal h1, .section_seccess_txt h1, .content .ru_lang_about_txt h1, .content .en_lang_about_txt h1, .content .input_and_email h1, .content .input_and_message h1, .content .social_link h1, .content .shipping_lang_ru h1, .content .shipping_lang_ru .shipping_txt_block_content span, .content .shipping_lang_en h1, .content .shipping_lang_en .shipping_txt_block_content span {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  line-height: 22px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
body .content {
  min-width: 89.3333333333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 130px auto 0px auto;
}
body .content .product_name {
  padding: 0px 0px 50px 0px;
}
body .content .clip {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 0px 10px 0px;
}
body .content .go_to_archive {
  width: 100%;
  padding: 0px 0px 58px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body .content .go_to_archive .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 61.4925373134%;
  height: 1px;
  background-color: #000000;
}
body .content .go_to_archive h2 {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
body .content .product_content {
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}
body .content .product_content .product_place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 42.1333333333%;
  padding: 0px 0px 72px 0px;
  height: auto;
}
body .content .product_content .product_place .product_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 42.1333333333%;
  min-height: 158px;
  background-color: #ddd;
}
body .content .product_content .product_place h1 {
  padding: 20px 0px 0px 0px;
}
body .content .product_content .product_place h2 {
  padding: 7px 0px 0px 0px;
}

@media screen and (min-width: 425px) {
  body .content .product_content .product_img {
    height: 200px;
  }
}
@media screen and (min-width: 768px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body .content {
    min-width: 62.7083333333%;
    margin: 42px auto 20px auto;
  }
  body .content .clip {
    margin: 0px 0px 30px 0px;
  }
  body .content .go_to_archive {
    display: none;
  }
  body .content .product_content {
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 28px;
  }
  body .content .product_content .product_img {
    min-height: 280px;
  }
}