<div class="content">


    <div class="single_product_content_desktop">


        <section>

            <div class="product_img"></div>

            <section class="img_slider_content">

                <div class="product_img_desktop_small"></div>

                <div class="product_img_desktop_small"></div>

                <div class="product_img_desktop_small"></div>

            </section>

        </section>

        <div class="description_desktop">

            <div class="product_description_single_page">
                <h1>Scarf sous cropped</h1>
                <h2>170$</h2>
            </div>

            <div class="size">
                <h1>s</h1>
                <h1>m</h1>
                <h1>l</h1>
            </div>

            <div class="add_to_card"><h1>Add to card</h1></div>

            <div class="details"><h1  id="details">Details</h1></div>

            <aside id="details_content" class="details_content">
                <h1>-100% Garment Dyed Portuguese Linen<br>
                -Portuguese Linen <br>
                -Washed Olive Colour <br>
                -Made in Belarus</h1>
            </aside>

        </div>

    </div>
</div>
