<div class="content">


    <div class="single_product_content_desktop">


        <section>

            <div class="product_img"></div>

            <section class="img_slider_content">

                <div class="product_img_desktop_small"></div>

                <div class="product_img_desktop_small"></div>

                <div class="product_img_desktop_small"></div>

            </section>

        </section>

        <div class="description_desktop">

            <div class="product_description_single_page">
                <p>Scarf sous cropped</p>
                <h2>170$</h2>
            </div>

            <div class="size">
                <p>s</p>
                <p>m</p>
                <p>l</p>
            </div>

            <div class="add_to_card">
                <p>Add to card</p>
            </div>

            <div class="details">
                <p id="details">Details</p>
            </div>

            <aside id="details_content" class="details_content">
                <p>-100% Garment Dyed Portuguese Linen<br> -Portuguese Linen <br> -Washed Olive Colour <br> -Made in Belarus</p>
            </aside>

        </div>

    </div>
</div>