@import "../../scss/nullstyle.scss";
@import "../../scss/common.scss";
.product-thumb {
    img {
        width: 120px;
    }
}

.content {
    width: 335/375*100%;
    margin: 110px auto 0px auto;
    display: flex;
    flex-direction: column;
    .empty {
        width: 100%;
        height: 100%;
        text-align: center;
        margin: 0px 0px 0px 0px;
        p {
            text-decoration-line: none;
            padding: 136px 0px 0px 0px;
        }
    }
    .shopping-cart-footer {
        margin: 110px 0px 0px 0px;
        padding: 0px 0px 20px 0px;
        width: 100%;
        .total_and_currency {
            width: 100%;
            flex-direction: row;
            text-align: right !important;
            p {
                @extend %info_txt;
                text-decoration-line: none;
                color: #000;
                padding: 0px 0px 0px 5px;
            }
        }
        .checkout_and_total {
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            padding: 20px 0px 0px 0px;
            .line_checkout {
                width: 180/335*100%;
                height: 1px;
                background-color: #000;
            }
            a {
                p {
                    @extend %default_text;
                    text-decoration-line: none;
                }
            }
        }
    }
    .text-center {
        display: none;
    }
    .container_cart {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0px 0px 42px 0px;
        .remove-from-cart {
            padding: 10px 0px 0px 0px;
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            .remove_line {
                width: 304/335*100%;
                min-height: 1px;
                background-color: #000;
            }
            @extend %default_text;
            text-decoration-line: none;
            text-decoration: none;
            color: #000;
            display: flex;
            justify-content: space-between;
            align-items: center;
            p {
                @extend %info_txt;
                text-decoration-line: none;
            }
        }
        .img_and_description {
            display: flex;
            .product-item {
                display: flex;
            }
            .product_description {
                display: flex;
                flex-direction: column;
                .product-info {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0px 0px 0px 10px;
                    a {
                        p {
                            text-decoration: none;
                            color: #000;
                            @extend %info_txt;
                        }
                    }
                    p {
                        @extend %info_txt;
                        text-decoration-line: none !important;
                        text-transform: lowercase;
                    }
                }
                .price {
                    padding: 20px 0px 0px 10px;
                    p {
                        @extend %info_txt;
                    }
                }
                .input-group {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 112px;
                    padding: 20px 0px 0px 0px;
                    margin: 0px auto 0px auto;
                    .btn_plus {
                        @extend %info_txt;
                    }
                    .btn_minus {
                        @extend %info_txt;
                    }
                    input {
                        @extend %info_txt;
                        width: 10px;
                    }
                    .form-control {
                        width: 5px !important;
                    }
                    button {
                        background-color: #fff;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .content {
        width: 1360/1441*100%;
        margin: 90px auto 0px auto;
        .shopping-cart-footer {
            .checkout_and_total {
                .line_checkout {
                    width: 688/854*100%;
                }
            }
            .total_and_currency {
                p {
                    &:first-child {
                        display: block;
                    }
                }
            }
        }
        .remove-from-cart {
            width: 100%;
            .remove_line {
                width: 761/854*100%;
            }
        }
    }
}