@import '../../scss/index.scss';


.product-thumb {
    img {
        width: 120px;
    }
}
.content {
    width: 335/375*100%;
    margin: 110px auto 0px auto;
    display: flex;
    flex-direction: column;
    .empty {
        width: 100%;
        height: 100%;
        text-align: center;
        margin: 0px 0px 0px 0px;
        p {
            text-decoration-line: none;
            padding: 136px 0px 0px 0px;
        }
    }
    .shopping-cart-footer {
        margin: 110px 0px 0px 0px;
        padding: 0px 0px 20px 0px;
        width: 100%;
        .total_and_currency {
            width: 100%;
            flex-direction: row;
            text-align: right !important;
            p {
                @extend %info_txt;
                text-decoration-line: none;
                color: #000;
                padding: 0px 0px 0px 5px;
            }
        }
        .checkout_and_total {
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            padding: 20px 0px 0px 0px;
            .line_checkout {
                width: 180/335*100%;
                height: 1px;
                background-color: #000;
            }
            a {
                p {
                    @extend %default_text;
                    text-decoration-line: none;
                }
            }
        }
    }
    .text-center {
        display: none;
    }
    .container_cart {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0px 0px 42px 0px;
        .remove-from-cart {
            margin: 10px 0px 0px 0px;
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
                .product_price_mob {
                    display: block;
                }
                .line {
                    width: 80%;
                    height: 1px;
                    background-color: #000;
                }


        }
        .img_and_description {
            position: relative;
            display: flex;
            .product-item {
                display: flex;
            }
            .price {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;
                position: absolute;
                right: 0px;

                .product_price {
                    display: none;
                }
                .cross_container {
                    width: 20px;
                    height: 20px;
                    position: relative;

                    .cross {
                        width: 20px;
                        height: 3px;
                        background-color: #000;
                        transform: rotate(45deg);
                        position: absolute;
                        top: 10px;
                        
                    }
                    .cross2 {
                        position: absolute;
                        width: 20px;
                        height: 3px;
                        background-color: #000;
                        transform: rotate(-45deg);
                        top: 10px;
                    }
                }
                p {
                    @extend %info_txt;
                }
            }
            .product_description {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                width: 700/1440*100%;
                padding-left: 30px;
                .product-info {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    a {
                        p {
                            text-decoration: none;
                            color: #000;
                            @extend %info_txt;
                        }
                    }
                    p {
                        @extend %info_txt;
                        text-decoration-line: none !important;
                        text-transform: lowercase;
                    }
                }
                .product-size {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    #size_desktop {
                        display: none;
                    }
                    p {
                        @extend %info_txt;
                        text-decoration-line: none !important;
                        &:last-child {
                            padding: 0px 0px 0px 5px;
                            text-transform: uppercase;
                        }
                    }

                }
                .input-group {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 112px;
                    button {
                        p {
                            font-size: 22px;
                        }
                    }
                    .btn_plus {
                        @extend %info_txt;
                    }
                    .btn_minus {
                        @extend %info_txt;
                    }
                    input {
                        @extend %info_txt;
                        width: 10px;
                    }
                    .form-control {
                        width: 5px !important;
                    }
                    button {
                        background-color: #fff;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .content {
        width: 1360/1441*100%;
        margin: 140px auto 0px auto;
        .container_cart {
            .remove-from-cart {
                .product_price_mob {
                    display: none;
                }
                .line {
                    width: 100%;
                }
            }
            .img_and_description {
                .price {
                    .product_price {
                        display: block;
                    }
                }
                .product_description {
                    flex-direction: row;
                    
                    .product-size {
                        #size_desktop {
                            display: block;
                        }
                    }
                }
            }
        }
        
        .shopping-cart-footer {
            .checkout_and_total {
                .line_checkout {
                    width: 688/854*100%;
                }
            }
            .total_and_currency {
                p {
                    &:first-child {
                        display: block;
                    }
                }
            }
        }
    }
}