.info-main-container {
    width: 335/375*100%;
    margin: 80px auto 80px auto;
    display: flex;
    flex-direction: column;
    .title {
        h2 {
            @extend %title_txt;
            text-decoration-line: line-through;
        }
    }
    .lang_selected_content {
        width: 70px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 78px 0px 20px 0px;
        p {
            @extend %info_txt;
            text-decoration-line: none;
        }
    }
    .description_info {
        p {
            @extend %info_txt;
            text-decoration-line: none;
            padding: 0px 0px 20px 0px;
        }
    }
    .section_next_button {
        margin: 349px 0px 0px 0px;
        width: 100%;
        text-align: right;
        padding: 0px 0px 20px 0px;
        a {
            p {
                text-decoration: none;
                color: #000;
                text-decoration-line: none;
                @extend %default_text;
            }
        }
        .line {
            width: 100%;
            height: 1px;
            background-color: #000;
        }
    }
}

@media screen and (min-width: 768px) {
    .info-content {
        margin: 140px 0px 0px 245px;
        width: 950/1441*100%;
    }
}

.description_info {
    p {
        width: 345px;
    }
}