@import '~scss/common';
@import 'radio_button_style.scss';
p {
    text-decoration-line: none;
    padding: 25px 0px 10px 0px;
}
.title {
    p {
        text-decoration-line: none;
        @extend %basik_txt;
        padding: 50px 0px 0px 0px;
    }
}

.send_updates_checked_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    p {
        text-decoration-line: none;
    }
    .radio_block {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 98px;
    }
}


#firstname {
}
#lastname {
}
#address1 {
}
#address2 {
}
#zip {
}
#city {
}
#email {
}
#phone {
}
#company {
}
#country {
}
.padding-bottom-1x {
}
.row {
}
.col-sm-6 {
}
.form-group {
}
.form-control {
    width: 100%;
    height: 46px;

    border: solid #000 1px;
    padding: 0px;
}
.form-control-feedback {
}
.custom-control.custom-checkbox {
}
.custom-control-input {
}
.custom-control-indicator {
}
.custom-control-description {
}
