 <section class="title"><p>contact information</p></section>
<hr class="padding-bottom-1x">
<form *ngIf="formAddress" [formGroup]="formAddress">

        <div class="col-sm-6">
            <div class="form-group" [ngClass]="{'has-danger': formAddress.get('email').invalid && formAddress.get('email').touched}">
                <label for="email"><p>e-mail</p></label>
                <input class="form-control" type="email" id="email" name="email" formControlName="email">
                <div class="form-control-feedback" *ngIf="formAddress.get('email').invalid && formAddress.get('email').touched">Please enter your E-mail!</div>
            </div>
        </div>

        <div class="send_updates_checked_block">

            <h1>send me updates</h1>

            <div class="radio_block">

                <input class="input_radio_yes" id="yes" type="radio" name="send_up" checked>

                <label class="radio_update_yes" for="yes"><h1>yes</h1></label>

                <input class="input_radio_no" id="no" type="radio" name="send_up">

                <label class="radio_update_no" for="no"><h1>no</h1></label>

            </div>

        </div>
        
</form>

<app-checkout-footer [buttons]="['backToCart', 'continue']" (continue)="onContinue()" [continueEnabled]="formAddress.valid"></app-checkout-footer>