@import '~scss/common';
@import 'radio_button_style.scss';
p {
    text-decoration-line: none;
    padding: 25px 0px 10px 0px;
}

.title {
    p {
        text-decoration-line: none;
        @extend %default_text;
        padding: 50px 0px 0px 0px;
    }
}

.send_updates_checked_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    p {
        text-decoration-line: none;
    }
    .radio_block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 98px;
    }
}

.postal_code_and_city {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .form-group_split {
        width: 487/1154*100%;
        .posatl_and_city {
            width: 100%;
        }
    }
}

input:focus {
    outline: none;
}

.form-control {
    width: 100%;
    height: 46px;
    border: solid #000 1px;
    padding: 0px 0px 0px 5px;
    font-size: 20px;
}

