@import '~scss/common';

p {
    text-decoration-line: none;
    padding: 25px 0px 0px 0px;
}
.title {
    p {
        text-decoration-line: none;
        @extend %basik_txt;
        padding: 50px 0px 0px 0px;
    }
}


#firstname {
}
#lastname {
}
#address1 {
}
#address2 {
}
#zip {
}
#city {
}
#email {
}
#phone {
}
#company {
}
#country {
}
.padding-bottom-1x {
}
.row {
}
.col-sm-6 {
}
.form-group {
}
.form-control {
    width: 100%;
    height: 46px;

    border: solid #000 1px;
    padding: 10px;
}
.form-control-feedback {
}
.custom-control.custom-checkbox {
}
.custom-control-input {
}
.custom-control-indicator {
}
.custom-control-description {
}
