@import "../../../scss/common.scss";
.content {
    width: 335/375*100%;
    margin: 89px auto 0px auto;
    align-items: center;
    .video_conteiner {
        width: 100%;
        margin: 42px 0px 0px 0px;
        .video_archive {}
        p {
            padding: 20px 0px 0px 0px;
            @extend %basik_txt;
            &:last-child {
                padding: 8px 0px 0px 0px;
                @extend %info_txt;
                text-decoration-line: none;
            }
        }
        .video_description {
            width: 100%;
            height: 1px;
            overflow: hidden;
            padding: 20px 0px 0px 0px;
            h1 {
                @extend %info_txt;
                text-decoration-line: none;
                transform: translateY(-120%);
                transition-duration: 0.2s;
            }
        }
        //TODO
        .video_description_act {
            height: auto;
            h1 {
                transition-duration: 0.2s;
                transform: translateY(0%);
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .content {
        width: 950/1441*100%;
        margin: 169px 0px 0px 245px;
    }
}