@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* COLORS */
    --text: #000;
    --inactive: #cccccc;
    --background: #fff;
    --highlight: #311eee;
    --error: #ff0000;
    --text-select: #311eee;
    --inverted: #cde100;
    /* components-specific colors */
    --button-text: #fff;
    --visited-link: #501089;
    --overlay: rgba(0, 0, 0, 0.4);

    /* TEXT */
    --text-giant: 200px;
    --text-giant-small: 110px;
    --text-base: 12px;
  }

  .blackTheme {
    --text: #fff;
    --inactive: #cccccc;
    --inactive-alpha: rgba(180, 180, 180, 0.2);
    --background: #000;
    --highlight: #535353;
    --error: #ff0000;
    --text-select: #311eee;
    /* components-specific colors */
    --button-text: #fff;
    --visited-link: #501089;
    --overlay: rgba(0, 0, 0, 0.4);

    /* TEXT */
    --text-giant: 200px;
    --text-giant-small: 110px;
    --text-base: 12px;
  }

  * {
    @apply no-scroll-bar;
  }

  html {
    position: relative;
    background-color: var(--background);
    min-height: 100vh;
    min-height: 100dvh;
  }

  body {
    touch-action: manipulation;
    background-color: var(--background);
    min-height: 100vh;
    min-height: 100dvh;

    ::selection {
      @apply bg-acidColor text-bgColor;
    }
  }
}

@layer utilities {
  .no-scroll-bar {
    scrollbar-width: none;

    &::-webkit-scrollbar {
      @apply hidden;
    }

    &::-webkit-scrollbar-track {
      @apply hidden;
    }

    &::-webkit-scrollbar-thumb {
      @apply hidden;
    }
  }
}
