@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* COLORS */
    --text: #000;
    --inactive: #cccccc;
    --background: #fff;
    --highlight: #311eee;
    --error: #ff0000;
    --text-select: #75fb4c;
    /* components-specific colors */
    --button-text: #fff;
    --visited-link: #501089;

    /* TEXT */
    --text-giant: 200px;
    --text-giant-small: 110px;
    --text-base: @apply text-base;
    --text-small: @apply text-xs;
  }

  .blueTheme {
    --text: #fff;
    --inactive: #cccccc;
    --background: #311eee;
    --highlight: #fff;
    --error: #ff0000;
    --text-select: #75fb4c;
    /* components-specific colors */
    --button-text: #000;
    --visited-link: #501089;

    /* TEXT */
    --text-giant: 200px;
    --text-giant-small: 110px;
    --text-base: @apply text-base;
    --text-small: @apply text-xs;
  }

  

  /* * {
    @apply border-border;
  } */

  /* html {
    font-family: "InterFace", system-ui, sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: "slnt" 0;
  } */

  body {
    ::selection {
      @apply bg-acidColor text-bgColor;
    }
  }
}

@layer utilities {
  .no-scroll-bar {
    &::-webkit-scrollbar {
      @apply hidden;
    }

    &::-webkit-scrollbar-track {
      @apply hidden;
    }

    &::-webkit-scrollbar-thumb {
      @apply hidden;
    }
  }
}
