<header appChbgcolor class="header">

    <h1 (click)="toggleNavbar()" id="menu_btn">menu</h1>

    <div class="desktop_logo_conteiner">
        <a routerLink="/home" href=""><img class="logo" src="/img/grb-logo.png"></a>
    </div>

    <div class="desktop_list_cart_and_sum">
        <a routerLink="/cart" href="">
            <h1>cart</h1>
        </a>
        <div class="sum_cart">
            <h1>${{cartService.getTotal()}}</h1>
        </div>
    </div>

</header>

<header [class.navbar-opened]="navbarOpened" class="side_bar_nav">
    <div class="bg_side_bar" (click)=toggleNavbar()></div>


    <nav class="side_bar_nav_list">
        <h1 (click)=toggleNavbar() id="menu_btn_hide" class="side_bar_btn">menu</h1>
        <a routerLink="/tops" href="">
            <h1>tops</h1>
        </a>

        <a routerLink="/bottoms" href="">
            <h1>bottoms</h1>
        </a>

        <a routerLink="/accessories" href="">
            <h1>accessories</h1>
        </a>

        <a routerLink="/bags" href="">
            <h1>bags</h1>
        </a>

        <a routerLink="/boots" href="">
            <h1>boots</h1>
        </a>

        <a routerLink="/skirts" href="">
            <h1>skirts</h1>
        </a>


        <div (click)=toggleInfo() class="info_and_line">
            <figure class="info_line"></figure>
            <h1 class="desktop_inf">info</h1>
        </div>

    </nav>


    <div [class.info-opened]="infoOpened" class="wrapper_info_list ">
        <nav class="side_bar_info_list">
            <a routerLink="/about" href="">
                <h1>about</h1>
            </a>

            <a routerLink="/contact-us" href="">
                <h1>contact us</h1>
            </a>

            <a routerLink="/shipping-method" href="">
                <h1>shipping</h1>
            </a>

            <a routerLink="/returns" href="">
                <h1>returns</h1>
            </a>

            <a routerLink="/privacy-policy" href="">
                <h1>privacy policy</h1>
            </a>

        </nav>
    </div>
</header>
