<!-- Main Navigation-->
<!-- <nav class="site-menu">
    <ul> -->

<header appChbgcolor class="header">
    <h1 (click)="toggleNavbar()" id="menu_btn">
        {{!navbarOpened ? 'menu': 'close'}}
    </h1>
    <a href="/"><img class="logo" src="/img/grb-logo.png"></a>
    <div class="desktop_list_cart_and_sum">
        <a href="/cart">
            <h1>cart</h1>
        </a>
        <div class="sum_cart">
            <h1>$0.00</h1>
        </div>
    </div>
</header>

<header id="side_bar" class="side_bar_nav">
    <div id="bg" class="bg_side_bar"></div>
    <nav class="side_bar_nav_list">
        <h1 (click)="toggleNavbar()" id="menu_btn_hide" class="side_bar_btn">menu</h1>
        <a href="list_product_page_tops.html">
            <h1>tops</h1>
        </a>
        <a href="list_product_page_bottoms.html">
            <h1>bottoms</h1>
        </a>
        <a href="list_product_page_accessories.html">
            <h1>accessories</h1>
        </a>
        <a href="list_product_page_bags.html">
            <h1>bags</h1>
        </a>
        <a href="list_product_page_boots.html">
            <h1>boots</h1>
        </a>
        <a href="list_product_page_skirts.html">
            <h1>skirts</h1>
        </a>

        <a href="">
            <h1 class="desktop_arch">archive</h1>
        </a>

        <div class="info_and_line">
            <figure id="info_line" class="info_line"></figure>
            <h1 id="desktop_inf" class="desktop_inf">info</h1>
        </div>
    </nav>
    <nav id="side_bar_info" class="side_bar_info_list">
        <a href="about_page.html">
            <h1>about</h1>
        </a>
        <a href="contact_us_page.html">
            <h1>contact us</h1>
        </a>
        <a href="shipping_page.html">
            <h1>shipping</h1>
        </a>
        <a href="">
            <h1>returns</h1>
        </a>
        <a href="">
            <h1>privacy policy</h1>
        </a>
    </nav>
</header>

<!-- TODO: add header -->
<!-- <li routerLinkActive="active">
            <a routerLink="/home" href="">
                <img src="/img/grb-logo.png" alt="">
            </a>

        </li>
        <li routerLinkActive="active">
            <a routerLink="/products" href="">
                <span>Products</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/cart" href="">
                <span>Cart</span>
            </a>
        </li> -->
<!-- <li *ngIf="user && user.roles.admin" routerLinkActive="active">
            <a routerLink="/admin/add" href="">
                <span>Add Product</span>
            </a>
        </li> -->
<!-- </ul>
</nav> -->