<div class="info-main-container">
    <h2>shipping</h2>

    <div class="lang-selected-container">
        <input (click)="toggleLanguage(true)" id="en" class="radio" type="radio" name="lang" checked>
        <label id="en_lang" for="en" class="radio_label">
            <p>en</p>
        </label>
        <input (click)="toggleLanguage(false)" id="ru" class="radio" type="radio" name="lang">
        <label id="ru_lang" for="ru" class="radio_label">
            <p>ru</p>
        </label>
    </div>

    <h3>{{!langRu ? "Имеется ли международная доставка?":"Does grbpwr ship internationally?"}}</h3>
    <p>{{!langRu ? "Да! Доставим куда угодно.":"Yes! If you live there, we ship there."}}</p>
    <h3>{{!langRu ? "Как долго длится доставка?":"How long does shipping take?"}}</h3>
    <p>{{!langRu ? "Все зависит от времени года и вашего местонахождения, но вот примерные сроки доставки:":"It all depends on time of year and where you’re based but here are some rough shipping times:"}}</p>
    <h3>RU/BY/UA: {{!langRu ? "3-5 рабочих дней.":"3-5 Working Days."}}</h3>
    <p>{{!langRu ? "Остальной мир:":"Rest of World:"}} {{!langRu ? "5-7 Working Days (please allow additional time for import and duty).": "5-7 рабочих дней (+ дополнительное время для импорта и пошлин)."}}</p>
    <p>{{!langRu ? "Обратите внимание, что это примерное время, а не точное, в каждом случае оно может быть разным.":"Please note these are guidelines and not exact times, each case may differ."}}</p>
    <h3>{{!langRu ? "Сколько стоит отправка?":"How much does shipping cost?"}}</h3>
    <p>{{!langRu ? "Стоимость доставки варьируется в зависимости от веса посылки и конечного пункта назначения. Точная стоимость будет рассчитана при оформлении заказа. Однако в качестве ориентира для заказов среднего размера:":"Shipping cost varies depending
        on the weight of the parcel and the final destination. The exact cost will be calculated at checkout. However, as a guideline for average sized orders:"}}</p>
    <h3>RU/BY/UA: <span>{{!langRu ? "15 долларов США.":"15 USD"}}</span></h3>
    <h3>{{!langRu ? "Остальной мир:":"Rest of World:"}} <span>{{!langRu ? "15 долларов США.":"15 USD"}}</span></h3>
    <p>{{!langRu ? "Все заказы RU / BY / UA отправляются через cdek Международные заказы отправляются лучшей отслеживаемой службой, предлагаемой Белпочтой, в зависимости от страны доставки. Вы получите свой номер для отслеживания, как только посылка покинет
        наш офис":"All RU/BY/UA orders are sent via CDEK International orders are sent by the best tracked service offered by Belpost dependent on the delivery country. You will receive your tracking number as soon as the parcel has left our facility."}}
    </p>

    <h3>{{!langRu ? "Придется ли мне платить импортные пошлины / таможенные пошлины по моему заказу?":"Will I have to pay import fees/customs duties on my order?"}}</h3>

    <p>{{!langRu ? "К сожалению, мы не можем гарантировать, что заказы за пределами RU / BY / UA не будут облагаться импортными сборами, установленными вашим местным правительством. все местные налоги и таможенные сборы оплачиваются покупателем / получателем.":"Unfortunately,
        we cannot guarantee that orders outside the RU/BY/UA will not be subject to import fees enforced by your local government. All local taxes and customs charges are the responsibility of the customer/recipient.Unfortunately, we cannot guarantee
        that orders outside the RU/BY/UA will not be subject to import fees enforced by your local government. All local taxes and customs charges are the responsibility of the customer/recipient."}}</p>
</div>