@import '~scss/common';
@import '~scss/components/radio';
@import '../info';
.info-main-container {
    h3 {
        @extend %default_text;
        text-decoration-line: none;
        margin-top: 24px
    }
    p {
        @extend %info_txt;
        text-decoration-line: none;
    }
}
