<div class="content">

    <section class="title">
        <h2>admin</h2>
    </section>


    <section class="input_form">
        <p>id</p>
        <textarea type="e-mail" name=""></textarea>
    </section>

    <section class="input_form">
        <p>date</p>
        <textarea type="e-mail" name=""></textarea>
    </section>

    <section class="input_form">
        <p>main image</p>
        <textarea type="e-mail" name=""></textarea>
    </section>

    <section class="input_form">
        <p>name</p>
        <textarea type="e-mail" name=""></textarea>
    </section>

    <section class="input_form_price">
        <section class="title">
            <h2>price</h2>
        </section>
        <p>USD</p>
        <textarea type="e-mail" name=""></textarea>
        <p>BYN</p>
        <textarea type="e-mail" name=""></textarea>
        <p>RUB</p>
        <textarea type="e-mail" name=""></textarea>
    </section>

    <section class="input_form">
        <p>avaible size</p>
        <!-- TO DO -->
        <textarea type="e-mail" name=""></textarea>
    </section>

    <section class="input_form">
        <p>description</p>
        <textarea type="e-mail" name=""></textarea>
    </section>

    <section class="input_form">
        <p>categories</p>
        <textarea type="e-mail" name=""></textarea>
    </section>

    <section class="input_form">
        <p>imageURLs</p>
        <textarea type="e-mail" name=""></textarea>
    </section>



    <section class="section_next_button">

        <a href="/">
          <p>continue shopping</p>
        </a>

        <figure class="line"></figure>

    </section>
</div>