@import '~scss/common';

.title {
    p {
        text-decoration-line: none;
        @extend %basik_txt;
        padding: 50px 0px 0px 0px;
    }
}

.payment_met_content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0px auto 0px auto;
    width: 100%;

    .form-control-radio {
        position: absolute;
        opacity: 0;
        left: 700px;
    }

    .form-control-radio:checked~.payment_selector {
        p {
            text-decoration: underline;
        }
    }
    .payment_selector {
        p {
            @extend %info_txt;
            text-decoration-line: none;
            
        }
    }
}

@media screen and (min-width: 786px) {
    .payment_met_content {
        width: 400/1154*100%;
    }
}