@import '~scss/common';

.title {
    p {
        text-decoration-line: none;
        @extend %basik_txt;
        padding: 50px 0px 0px 0px;
    }
}

.payment_met_content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0px auto 0px auto;
    width: 100%;

    p {
        @extend %info_txt;
        text-decorations-line: none;
    }
}

@media screen and (min-width: 786px) {
    .payment_met_content {
        width: 400/1154*100%;
    }
}