
<section class="title"><p>payment method</p></section>

<form [formGroup]="formPayment">
    
        
         
            <tbody class="payment_met_content">
                <tr *ngFor="let paymentMethod of paymentMethods">
            <input id="{{paymentMethod}}" class="form-control-radio" type="radio" name="paymentMethod" value="{{paymentMethod}}" formControlName="paymentMethod">
            <label class="payment_selector" for="{{paymentMethod}}"><p>{{paymentMethod}}</p></label>
                </tr>
            </tbody>
       

</form>
