
<section class="title"><p>payment method</p></section>
<hr class="padding-bottom-1x">
<form [formGroup]="formPayment">
    
        
         
            <tbody class="payment_met_content">
                <tr *ngFor="let paymentMethod of paymentMethods">
                    <td class="align-middle">
                        <span><p>{{paymentMethod}}</p></span>
                    </td>
                    <td class="align-middle">
                        <label class="custom-control custom-radio">
            <input class="form-control-radio" type="radio" name="paymentMethod" value="{{paymentMethod}}" formControlName="paymentMethod">
            <span class="custom-control-indicator"></span>
          </label>
                    </td>
                </tr>
            </tbody>
       

</form>
