@import '~scss/common';
.title {
    p {
        text-decoration-line: none;
        @extend %default_text;
        padding: 50px 0px 43px 0px;
    }
}

.payment_met_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto 0px auto;
    width: 100%;
    p {
        cursor: pointer;
    }
    .form-control-radio {
        position: absolute;
        opacity: 0;
        left: -200;
    }
    .form-control-radio:checked~.payment_selector {
        p {
            text-decoration: underline;
        }
    }
    .payment_selector {
        p {
            @extend %info_txt;
            text-decoration-line: none;
        }
    }
}

@media screen and (min-width: 786px) {
    .payment_met_content {
        width: calc(400/1154)*100%;
    }
}

input:focus {
    outline: none;
}