<header class="header">
    <table class="header-container">
        <p (click)="toggleNavbar()" class="menu-button">menu</p>
        <a routerLink="/"><img class="logo" src="/img/grb-logo.svg"></a>
        <nav class="desktop-navigation-list">
            <a routerLink="/about" href="">about</a>
            <a routerLink="/archive">archive</a>
        </nav>

        <a *ngIf="usd" class="cart" routerLink="/cart" href="">cart ${{cartService.getTotal(currencySelected)}}</a>
        <a *ngIf="eur" class="cart" routerLink="/cart" href="">cart {{cartService.getTotal(currencySelected)}}€</a>
        <a *ngIf="rub" class="cart" routerLink="/cart" href="">cart {{cartService.getTotal(currencySelected)}}RUB</a>
    </table>
</header>


<header [class.opened]="navbarOpened" class="side-bar-navigation">
    <div class="background" (click)=toggleNavbar()></div>
    <nav class="side-bar-navigation-list">
        <p (click)=toggleNavbar()>menu</p>
        <a routerLink="/products" href="">products</a>
        <a routerLink="/archive" href="">archive</a>
    </nav>
    <nav class="side-bar-info-list">
        <a routerLink="/about" href="">about</a>
        <a routerLink="/contact-us" href="">contact us</a>
        <a routerLink="/shipping-method" href="">shipping</a>
        <a routerLink="/returns" href="">returns</a>
        <a routerLink="/privacy-policy" href="">privacy policy</a>
    </nav>
</header>