<div class="content" [ngClass]="{'loading' : productLoading}">

    <div *ngIf="product" class="single_product_content_desktop">

        <section>

            <div class="product_img" [ngClass]="{'loading': !imagesLoaded.includes(activeImageUrl)}">
                <img [hidden]="!imagesLoaded.includes(activeImageUrl)" class="img-fluid" src="{{activeImageUrl}}" alt="{{product.name}}" (load)="onImageLoad($event)">
            </div>

            <ul class="img_slider_content">
                <li class="product_img_desktop_small" *ngFor="let image of product.imageURLs; let i = index" [ngClass]="{'active': i === activeImageIndex}">
                    <a href="" (click)="onSelectThumbnail($event, i)" class="product-thumbnail-image" [ngClass]="{'loading': !imagesLoaded.includes(activeImageUrl)}">
                        <img [hidden]="!imagesLoaded.includes(image)" [src]="image" alt="{{product.name}}" (load)="onImageLoad($event)">
                    </a>
                </li>
            </ul>

        </section>

        <div class="description_desktop">

            <div class="product_description_single_page">
                <p>
                    <app-page-title title="{{ product.name }}"></app-page-title>
                </p>
            </div>


            <!-- <div class="form-control" id="quantity" (change)="onSelectSize($event)">
                  <figure class="line_sz"></figure>
                  <section *ngFor="let sz of availableSizes"><p>{{sz}}</p></section>
                  <figure class="line_sz"></figure>
              </div> -->

            <div class="form-group">
                <label for="size">SIZE</label>
                <select class="form-control" id="quantity" (change)="onSelectSize($event)">

                              <option *ngFor="let sz of availableSizes">{{sz}}</option>
                          </select>
            </div>

            <section class="add_btn">
                <figure class="line_add"></figure>
                <div (click)="onAddToCart(cartButton.id)" #cartButton id="cartButton">
                    <p>{{cartButtonTitle}}</p>
                </div>
            </section>

            <div (click)="get()" class="details">
                <p id="details">Details</p>
            </div>

            <aside id="details_content" class="details_content">
                <p>{{product.description}}</p>
            </aside>

        </div>

    </div>
</div>