@import "../../../scss/index.scss";
::-webkit-scrollbar {
    display: none;
}

.content {
    width: calc(335/375)*100%;
    margin: 90px auto 0px auto;
    padding: 0px 0px 20px 0px;
    .single_product_content_desktop {
        .img-container {
            .product_img {
                width: 100%;
                height: 89vw;
                background-color: hsl(0, 0%, 77%);
                .img-fluid {
                    width: 100%;
                    height: 100%;
                }
            }
            .img_slider_content {
                width: 100%;
                margin: 26px 0px 0px 0px;
                display: flex;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-column-gap: 17px;
                li {
                    list-style-type: none;
                }
                .product_img_desktop_small {
                    width: 19vw;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        .product_description_single_page {
            padding: 20px 0px 0px 0px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            p {
                @extend %default_text;
                text-decoration-line: none;
                margin: 0px;
                padding: 0px;
            }
            h2 {
                @extend %header_txt;
                text-decoration-line: none;
            }
        }
        .size {
            padding: 90px 0px 0px 0px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            p {
                @extend %default_text;
            }
        }
        .add_to_card {
            padding: 61px 0px 0px 0px;
            text-align: right;
            p {
                @extend %default_text;
                text-decoration-line: none;
            }
        }
        .details {
            padding: 101px 0px 14px 0px;
            cursor: pointer;
            p {
                @extend %default_text;
                text-decoration-line: none;
            }
        }
        .details_content {
            overflow: hidden;
            padding: 0px 0px 20px 0px;
            p {
                @extend %info_txt;
                text-decoration-line: none;
                transform: translateY(-100px);
                transition-duration: 0.2s;
                opacity: 0;
            }
        }
        .details_content_acrtive {
            p {
                transform: translateY(0);
                transition-duration: 0.2s;
                opacity: 1;
            }
        }
        .form-group {
            padding: 70px 0px 0px 0px;
            width: 100%;
            .form-control {
                display: flex;
                width: 100%;
                justify-content: space-around;
                align-items: center;
                .line_sz {
                    width: calc(335/375)*100%;
                    height: 1px;
                    border-bottom: solid #000 1px;
                    position: absolute;
                    z-index: 98;
                }
                .size_content {
                    display: flex;
                    justify-content: center;
                    .size_input {
                        position: absolute;
                        opacity: 0;
                        left: -200px;
                    }
                    .size_input:checked~.size_button {
                        z-index: 99;
                    }
                    .size_input:disabled~.size_button {
                        p {
                            opacity: 0.5;
                        }
                    }
                    .size_button {
                        display: flex;
                        justify-content: center;
                        background-color: #fff;
                        z-index: 97;
                        width: 60px;
                        cursor: pointer;
                        p {
                            @extend %default_text;
                            text-decoration-line: none;
                            text-transform: lowercase;
                        }
                    }
                }
            }
        }
        .add_btn {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            cursor: pointer;
            padding: 60px 0px 0px 0px;
            p {
                @extend %default_text;
                text-decoration-line: none;
            }
            .line_add {
                width: calc(209/335)*100%;
                height: 1px;
                background-color: #000;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .content {
        z-index: 101;
        margin: 140px auto 0px auto;
        width: calc(1360/1440)*100%;
        overflow: hidden;
        .single_product_content_desktop {
            overflow: hidden;
            display: flex;
            .img-container {
                width: 49vw;
                height: 49vw;
                .product_img {
                    width: 100%;
                    height: 100%;
                }
                .img_slider_content {
                    display: flex;
                    flex-direction: column;
                    margin: 0px 0px 0px 0px;
                    width: calc(688/1361)*100vw;
                    height: auto;
                    overflow-x: auto;
                    .product_img_desktop_small {
                        padding: 0px 0px 45px 0px;
                        width: 100%;
                        height: 50vw;
                        &:active {
                            width: 74vw;
                            height: 74vw;
                            position: absolute;
                            z-index: 106;
                        }
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
        .description_desktop {
            padding: 0px 0px 0px 20px;
            width: calc(601/1361)*100%;
            .product_description_single_page {
                padding: 0px;
                p {
                    padding: 0px 0px 10px 0px;
                }
            }
            .details_content {
                padding: 46px 0px 0px 0px;
            }
            .size {
                padding: 363px 0px 0px 0px;
            }
            .details {
                padding: 60px 0px 0px 0px;
            }
            .add_to_card {
                padding: 61px 0px 0px 0px;
            }
            .form-group {
                overflow: hidden;
                .form-control {
                    .line_sz {
                        width: calc(601/1441)*100%;
                    }
                }
            }
        }
    }
}