<div class="archive-detail-container">
    <div class="archive-title">
        <h2>{{article.article.title}}</h2>
        <h3>{{date}}</h3>
        <p>{{article.article.description}}</p>
    </div>
    <div *ngFor="let subContent of article.article.content" class="content">
        <div *ngIf="subContent.isVideo" class="single_product_content_desktop">
            <div class="holds-the-iframe">
                <iframe frameborder="0" controls="false" loop="true" class="clip" [src]="subContent.safeResourceUrl" onload=""></iframe>
                <app-animation></app-animation>
            </div>
            <section class="desctiption-container">
                <p>
                    {{subContent.description}}
                </p>
            </section>
        </div>
    </div>

</div>