@import "../../../scss/index.scss";
@import '../../../scss/common';
::-webkit-scrollbar {
    display: none;
}

.holds-the-iframe {
    position: relative;
    width: 100%;
    height: 55vw;
    .clip {
        width: 100%;
        height: 55vw !important;
        z-index: 99;
        position: absolute;
        top: 0px;
    }
}

.archive-detail-container {
    width: calc(335/375)*100%;
    margin: 90px auto 0px auto;
    padding: 0px 0px 20px 0px;
    .archive-title-container {
        margin: 120px auto;
        h1 {
            @extend %header_txt;
            font-size: 36px;
            font-weight: 900;
            text-decoration: line-through;
        }
        h2 {
            padding-top: 7px;
        }
        h3 {
            padding-top: 7px;
            @extend %main-text-line-through;
        }
    }
    .content {
        width: calc(335/375)*100%;
        margin: 80px auto 0px auto;
        padding-bottom: 80px;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) {
    .archive-detail-container {
        .holds-the-iframe {
            height: 47vw;
            .clip {
                height: 47vw;
            }
        }
    }
    .content {
        margin-top: 130px;
        .article-content {
            display: initial;
            // grid-template-columns: 1fr 1fr 1fr;
            // grid-column-gap: 28px;
        }
    }
}