%basik_txt {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    line-height: 22px;
}

%header_txt {
    font-size: 22px;
    font-weight: 600;
    color: #000000;
    line-height: 22px;
}

%info_txt {
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    line-height: 22px;
}

.content {
    width: 335/375*100%;
    margin: 90px auto 0px auto;
    padding: 0px 0px 20px 0px;
    .single_product_content_desktop {
        .product_img {
            width: 100%;
            height: 89vw;
            background-color: #c4c4c4;
            .img-fluid {
                width: 100%;
                height: 100%;
            }
        }
        .img_slider_content {
            width: 518px;
            margin: 26px 0px 0px 0px;
            display: none;
            flex-direction: row;
            justify-content: space-between;
            .product_img_desktop_small {
                width: 149px;
                height: 148px;
                background-color: #c4c4c4;
            }
        }
        .product_description_single_page {
            padding: 20px 0px 0px 0px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            h1 {
                @extend %info_txt;
                text-decoration-line: none;
                margin: 0px;
                padding: 0px;
            }
            h2 {
                @extend %header_txt;
                text-decoration-line: none;
            }
        }
        .size {
            padding: 90px 0px 0px 0px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            h1 {
                @extend %basik_txt;
            }
        }
        .add_to_card {
            padding: 61px 0px 0px 0px;
            text-align: right;
            h1 {
                @extend %basik_txt;
                text-decoration-line: none;
            }
        }
        .details {
            padding: 101px 0px 14px 0px;
            cursor: pointer;
            h1 {
                @extend %basik_txt;
                text-decoration-line: none;
            }
        }
        .details_content {
            padding: 0px 0px 20px 0px;
            display: none;
            h1 {
                @extend %info_txt;
                text-decoration-line: none;
            }
        }
        .active_details {
            display: block;
        }
        .form-control {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            .line_sz {
                width: 107/335*100%;
                height: 1px;
                background-color: #000;
            }
            h1 {
                @extend %basik_txt;
                text-decoration-line: none;
            }
        }
        .add_btn {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            cursor: pointer;
            padding: 60px 0px 0px 0px;
            h1 {
                @extend %basik_txt;
                text-decoration-line: none;
            }
            .line_add {
                width: 209/335*100%;
                height: 1px;
                background-color: #000;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .content {
        margin: 42px 0px 0px 0px;
        width: 903/1440*100%;
        .single_product_content_desktop {
            display: flex;
            .product_img {
                width: 100%;
                height: 518px;
            }
            .img_slider_content {
                display: flex;
                li {
                    list-style-type: none;
                }
                .product_img_desktop_small {
                    img {
                        width: 100%;
                        height: 100%;
                    }
                    .archive-thumbnail-image {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        .description_desktop {
            padding: 0px 0px 0px 20px;
            min-width: 339px;
            .product_description_single_page {
                padding: 0px;
                h1 {
                    padding: 0px 0px 10px 0px;
                }
            }
            .details_content {
                display: block;
                padding: 46px 0px 0px 0px;
            }
            .size {
                padding: 363px 0px 0px 0px;
            }
            .details {
                padding: 60px 0px 0px 0px;
            }
            .add_to_card {
                padding: 61px 0px 0px 0px;
            }
        }
    }
}
