<div class="product_place" [ngClass]="{'product-list': displayMode === 'list'}">
    <a class="product-thumb" [ngClass]="{'loading': imageLoading}" routerLink="/products/{{product.product.id}}">
        <img class="product_img" [hidden]="imageLoading" (load)="onImageLoad()" src="{{product.product.mainImage}}" alt="{{product.product.name}}" />
    </a>
    <div>
        <p>
            <a routerLink="/products/{{product.product.id}}">{{product.product.name}}</a>
        </p>
        <p *ngIf="usd" class="product-price"> ${{product.product.price.usd}} </p>
        <p *ngIf="eur" class="product-price"> {{product.product.price.eur}}€ </p>
        <p *ngIf="rub" class="product-price"> {{product.product.price.rub}} RUB </p>

        <h2 *ngIf="displayMode === 'list'">{{product.product.description}}</h2>
    </div>
</div>