<div class="product-card" [ngClass]="{'product-list': displayMode === 'list'}">
    <a class="product-thumb" [ngClass]="{'loading': imageLoading}" routerLink="/products/{{product.id}}">
        <img [hidden]="imageLoading" (load)="onImageLoad()" src="{{product.imageURLs[0]}}" alt="{{product.name}}" />
    </a>
    <div class="product-info">
        <h3 class="product-title">
            <a routerLink="/products/{{product.id}}">{{product.name}}</a>
        </h3>
        <h4 class="product-price">
            <app-price [product]="product"></app-price>
        </h4>
        <p *ngIf="displayMode === 'list'" class="hidden-xs-down">{{product.description}}</p>
        <div class="product-buttons">

        </div>
    </div>
</div>
