@import './side.bar.mobile.scss';
@import './active.scss';
@import "../../../../scss/index.scss";

.header {
    z-index: 99;
    position: fixed;
    width: 100%;
    top: 0;
    height: 70px;
    .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 335/375*100%;
        margin: 0px auto;
        height: 100%;
        .desktop-navigation-list {
            a {
                @extend %info_txt;
                cursor: pointer;
            }
        }
        p{
            @extend %main-text-no-line-through;
            cursor: pointer;
            width: 30%;
        }
        a {
            @extend %main-text-no-line-through;
            cursor: pointer;
            text-align: right;
            &:last-child {
                width: 30%;
            }
        }
        .logo {
            width: 30px;
        }
        .desktop-navigation-list {
            display: none;
        }
        position: relative;
    }
}


@media screen and (min-width: 768px) {
    .header {
        height: 130px;
        width: 100% !important;
        z-index: 100;
        justify-content: center;
        .header-container {
            width: 1360/1440*100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            a {
                &:last-child {
                    width: auto;
                }
            }
            .logo {
                width: 60px;
            }
            .menu-button {
                display: none;
            }
            .desktop-navigation-list {
                display: inline-flex;
                justify-content: space-between;
                width: 30%;
            }
        }
    }
}