
.side-bar-navigation {
    width: 265px;
    height: 100%;
    transform: translateX(-100%);
    transition-duration: 0.2s;
    background-color: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99;

    p {
        @extend %main-text-no-line-through;
        cursor: pointer;
        margin-bottom: 10px;
    }
    
    .background {
        position: absolute;
        left: 265px;
        width: 100vw;
        height: 100%;
        background-color: #000;
        opacity: 0.7;
        z-index: 97;
        transform: translateX(-100%);
    }
    .side-bar-navigation-list {
        margin: 27px 0px 0px 66px;
        display: flex;
        flex-direction: column;
        a{
            line-height: 32px !important;
        }
    }
    .side-bar-info-list {
        display: flex;
        flex-direction: column;
        margin-left: 66px;
        position: absolute;
        bottom: 20px;
        a{
            line-height: 23px !important;
        }
    }
}
a{
    @extend %info_txt;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .side-bar-navigation  {
        display: none;
    }
}