.base {
  z-index: -100;
  position: relative;
  top: 100%;
  transform: rotateX(45deg) rotateZ(45deg);
  transform-style: preserve-3d;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
}

.cube,
.cube:after,
.cube:before {
  z-index: -100;
  content: "";
  float: left;
  height: 2.5em;
  position: absolute;
  width: 2.5em;
}
/* Top */

.cube {
  z-index: -100;
  background: url("https://grbpwr.fra1.cdn.digitaloceanspaces.com/grbpwr-com/heros/grb-logo.png") no-repeat center/85%;
  background-color: black;
  transform: translateZ(3em);
  transform-style: preserve-3d;
  transition: 0.25s;
  animation: anim 1s ease-in-out infinite;
}

.cube:after {
  background-color: shade(white, 10);
  transform: rotateX(-90deg) translateY(3em);
  transform-origin: 100% 100%;
}

.cube:before {
  background-color: shade(white, 20);
  transform: rotateY(90deg) translateX(3em);
  transform-origin: 100% 0;
}

.cube:nth-child(1) {
  animation-delay: 0.05s;
}

.cube:nth-child(2) {
  animation-delay: 0.1s;
}

.cube:nth-child(3) {
  animation-delay: 0.15s;
}

.cube:nth-child(4) {
  animation-delay: 0.2s;
}

.cube:nth-child(5) {
  animation-delay: 0.25s;
}

.cube:nth-child(6) {
  animation-delay: 0.3s;
}

.cube:nth-child(7) {
  animation-delay: 0.35s;
}

.cube:nth-child(8) {
  animation-delay: 0.4s;
}

.cube:nth-child(9) {
  animation-delay: 0.45s;
}

@keyframes anim {
  50% {
      transform: translateZ(0.5em);
  }
}
