<div class="content" [ngClass]="{'loading' : productLoading}">

    <div *ngIf="product" class="single_product_content_desktop">

        <section class="img_content">

            <div class="product_img">
                <img src="{{activeImageUrl}}" alt="{{product.name}}">
            </div>

            <div class="img_slider_content">
                <div class="product_img_desktop_small" *ngFor="let image of product.imageURLs; let i = index" [ngClass]="{'active': i === activeImageIndex}">
                    <a href="" (click)="onSelectThumbnail($event, i)" class="product-thumbnail-image" [ngClass]="{'loading': !imagesLoaded.includes(activeImageUrl)}">
                        <img [src]="image" alt="{{product.name}}" (load)="onImageLoad($event)">
                    </a>
                </div>
            </div>

        </section>

        <div class="description_desktop">


            <div class="product_description_single_page">
                <p>
                    {{ product.name }}
                </p>
                <h2>

                </h2>
            </div>


            <div class="form-group">


                <div class="form-control">

                    <figure class="line_sz"></figure>
                    <div class="size_content" *ngFor="let item of sizes ">
                        <input class="size_input" id="{{item.sz}}" (change)="onRadioSize(item.sz)" [value]='item.sz' type="radio" name="enums" [(ngModel)]="radioSelected" [attr.disabled]="!item.avb ? false : null">
                        <label class="size_button" for="{{item.sz}}"><p>{{item.sz}}</p></label>
                    </div>

                </div>

            </div>

            <section class="add_btn">
                <figure class="line_add"></figure>
                <div (click)="onAddToCart(cartButton.id)" #cartButton id="cartButton">
                    <p>{{cartButtonTitle}}</p>
                </div>
            </section>


            <div (click)="ShowDetail()" class="details">
                <p id="details">Details</p>
            </div>


            <aside [class.details_content_acrtive]="detailsActive" id="details_content" class="details_content">
                <p>{{product.description}}</p>
            </aside>


        </div>

    </div>
</div>