<!-- Page Title-->

            <p>{{ title }}</p>

        <!-- <div class="column">
            <ul class="breadcrumbs">
                <li>
                    <a routerLink="/" href="">Home</a>
                </li>
                <ng-container *ngFor="let child of children">
                    <li class="separator">&nbsp;</li>
                    <li>
                        <a *ngIf="child.link; else noLink" [routerLink]="child.link">{{ child.title }}</a>

                    </li>
                </ng-container>
            </ul>
        </div> -->
   