p {
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    padding: 133px 0px 0px 0px;
}

@media screen and (min-width:768px) {
    p {
        text-align: left;
        padding: 91px 0px 0px 245px;
        font-size: 32px;
        font-weight: 500;
    }
}