<section class="title">
    <p>order summary</p>
</section>

<div class="product_container" *ngFor="let item of items; let i = index">
        <div class="product-item">
            <a class="product-thumb" routerLink="/products/{{item.product.id}}">
                <img [src]="item.product.imageURLs[0]" alt="{{item.product.name}}">
            </a>
            <section class="product-info">
                <div>
                    <a routerLink="/products/{{item.product.id}}"><p><span>{{item.product.name}}</span></p>
                    </a>
                    <p>size:<span>{{item.size}}</span></p>
                </div>
                        <p><span>{{ (item.product.price * item.amount) | currency }}</span></p>
            </section>
        </div>
</div>


