@import '~scss/common';

p {
    color: #000;
    text-decoration-line: none;
    span {
        text-transform: lowercase;
        text-decoration-line: none;
        font-weight: 600;
        padding: 0px 0px 0px 5px;
    }
}


.title {
    p {
        text-decoration-line: none;
        @extend %basik_txt;
        padding: 50px 0px 0px 0px;
    }
}
.product_container {
    display: flex;
    min-width: 100%;
    .product-item {
        margin: 43px 0px 0px 0px;
        padding: 0px 0px 28px 0px;
        min-width: 100%;

        display: flex;
        align-items: flex-start;
        
    
        border-bottom: solid #000 1px;

        .product-info {
            text-align: left;
            height: 154px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            padding: 0px 0px 0px 10px;

            div {
                p {
                    padding: 0px 0px 16px 0px;
                }
            }
        }
        
    
        img {
            width: 154px;
        }
    }   
    
}

@media screen and (min-width: 768px) {

    .product_container {
        .product-item {
            display: flex;
            justify-content: space-between;
            .product-info {
                text-align: right;
                padding: 0px;
        
            }
        }  
    }
}
    

