* {
    padding: 0;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #000;
    &:visited {
        color: #000;
    }
}
button {
    border: 0px;
    outline: 0px;
    outline-offset: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    cursor: pointer;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    touch-action: manipulation;
    margin: 0px;
    padding: 0px;
    width: 100%;
        app-root {
            .main-wrapper {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin: 0px;
            }
        }
}
.offcanvas-wrapper {
    width: 100%;
    margin: 0px auto 0px auto;
    margin: 0px;
}