body {
    margin: 0px;
    padding: 0px;
    @media screen and (min-width: 768px) {
        app-root {
            .main-wrapper {
                min-width: 903px;
                display: flex;
                flex-direction: row;
            }
        }
    }
}