<aside class="footer">
    <div class="cart_and_shipping_total">

        <div class="total_container">
                <p>subtotal:</p>
                <p>{{cartSubtotal | currency}}USD</p>
        </div>
            
        <div class="total_container">
                <p>shipping total:</p>
                <p>{{shipping | currency}}USD</p>
        </div>

    </div>
            
            <div class="total_container">
                <p>order total:</p>
                <p>{{orderTotal | currency}}USD</p>
            </div>
</aside>