<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{.Meta.Title}}</title>
    <meta name="author" content="{{.Meta.Author}}" />
    <meta name="description" content="{{.Meta.Description}}" />
    <link rel="stylesheet" type="text/css" href="/generated/css/shop.css" />
</head>

<body>
    <header>
        <nav>
            <a href="/"> <img id="logo" src="/static/img/grb-logo.svg" alt="G3"> </a>
            <a href="/about">about</a>
            <a href="/shop">shop</a>
            <a href="/contacts">contacts</a>
        </nav>
    </header>
    <hr>
    <main>
        <ul class="list">
            {{range $page := .Pages}}
            <a href="{{$page.Href}}">
                <li class="list-item">
                    <div class="list-content">
                        <h2>{{$page.Title}}</h2>
                        <img src="{{$page.Img}}" alt="{{$page.Title}}" />
                        <p>{{$page.Description}}</p>
                        <a href=""></a>
                    </div>
                </li>
            </a>
            {{end}}
        </ul>
    </main>
</body>

</html>